[2019-12-23 05:47] ctrlcctrlv commented on #4077
Noted. I still think this is worth pursuing. It was always in my mind inevitable that in the pursuit of reversion to BSD we'd need to either remove or rewrite some people's contributions, either due to refusal to relicense or inability to make contact.

[2019-12-23 05:51] jtanx commented on #4077
I rewrote fontforge-config.h myself, so I'd say the license is accurate. The reason for that GPL license was probably because the .in file used to be generated by autoconf, which is now no longer the case.

These would have been written by GW - https://github.com/fontforge/fontforge/blob/v20120731-b/fontforge/configure-fontforge.h which is BSD licensed.

[2019-12-23 06:04] skef commented on #4077
See, this is what I was talking about over in #677. Is the statement in the LICENSE file alone enough to mean that this isn't @khaledhosny's decision when it comes to other contributions, because the license at the top of the file governs the contribution? What happens when copyright holders raise objections like this?

If every contribution in the past 6 years is maybe-GPL and maybe-BSD the whole

[2019-12-23 06:06] jtanx commented on #4077
From LICENSE:

[2019-12-23 06:11] skef commented on #4077
Right, so the question is: if someone never read that and made a contribution, does it apply?

[2019-12-23 06:19] jtanx commented on #4077
Right, sorry I misread your question.

I dug back, and it's been there since 2012 (#165), which was around where it was relicensed as a whole to GPLv3.

I'm not a lawyer of course, but I'd say so; the wording is pretty clear cut.

[2019-12-23 06:39] ctrlcctrlv commented on #4077
Obviously it applies because they're releasing their contributions under the license we've included.

[2019-12-23 06:46] skef commented on #4077
Well, if that's right, and the project is prepared to refer any contributor who thought the arrangement was different to that language, let me go through the rest of this stuff.

 * `fontforge/bezctx_ff.c`: based on the copyrights at the top it looks to me like the GNU license claim stems from a mislabling. It's stated to be written by GW in 2007
 *  `gdraw/ggdkdrawP.h`: Use of `G_GNUC_PRINTF(5, 6

[2019-12-23 06:48] jtanx commented on #4077
I think this was just an issue with my search, I was searching for `GNU.*General` which matched

[code]

glib is LGPL licensed, so it should be fine as is.

giomime should be trivial enough to rewrite.

[2019-12-23 07:07] frank-trampe commented on #4077
Per Fred's comment, the top-level license is necessarily derivative of the per-file licenses. It was only possible to switch to GPLv3 because it was compatible with the per-file BSD licenses. It did not change the actual licenses on those files; it just stated terms (non-exclusive) under which the project could be used and established a default for the future.

[2019-12-23 07:10] ctrlcctrlv commented on #4077
So this is all good news, we can switch soon! We should immediately send a message to the fontforge-devel list reminding people of this. Then we should get a PR through which will switch the "main" license back to the GW BSD license.

Exciting!

[2019-12-23 07:12] frank-trampe commented on #4077
@khaledhosny, could you explain your root concern here? To be clear, the top-level license is mostly nominal as I stated before. Even after a reversion of that license to the original BSD license, you would still be able to use any code in the project under a license compatible with the file in which it is located. Specifically, you would still be able to use and to distribute the entire project u

[2019-12-23 07:15] skef commented on #4077
So the overall legal argument might be restated this way:

1. The project was basically entirely BSD in the GW era, which ended around 2012.
2. At that point there was a switch to distributing under GPL, which was possible because BSD compatible with that license.
3. At the same time, the top-level LICENSE file clarified that contributions to individual files would continue to be governed by the l

[2019-12-23 07:17] frank-trampe commented on #4077
@skef, that all seems right to me.

I'm in bed and can't do a line-by-line blame review, but most of Ben's code was collab stuff (removed) and word list parser (heavily rewritten since), right? Is there actually significant code of his remaining?

[2019-12-23 07:18] skef commented on #4077
@frank-trampe what's confusing about his message? He indicated he prefers contributing to copyleft projects, probably because he supports the kind of restrictions that @twardoch objects to. That's sort of the point of "full" GPL.

[2019-12-23 07:19] skef commented on #4077
@frank-trampe I listed the five files as I described them:  `inc/ffglib.h`, `fontforgeexe/sfundo.c`, `fontforgeexe/sfundo.h`,  `fontforgeexe/wordlistparser.c`, `fontforgeexe/wordlistparser.h`. All of these carry GPL license notices and Ben copyrights. Given the top-level license file any subsequent changes will also be GNU, so we'd have to look at those.

[2019-12-23 07:23] frank-trampe commented on #4077
@skef, I know it's unlikely, but there are often strategic calculations on other priorities that inform a preference for copyleft license rather than a general distaste for permissive licenses. (The CDDL on the Solaris kernel is my favorite example of this.) I want to be absolutely sure that there's not a make-everybody-happy button here before I give up on its existence.

By the way, maintainers

[2019-12-23 07:25] skef commented on #4077
@frank-trampe that's reasonable. And I shouldn't speak for @khaledhosny.

I've "blamed" those five files. It's mostly Ben with subsequent fixes by core project members with a few stray lines from others. If @JoesCat is willing it shouldn't be a big deal assuming we can deal with the  Ben authorship one way or another.

[2019-12-23 07:25] ctrlcctrlv commented on #4077
I would argue that switching this project to GPL was pretty much a hijacking. That was never George's intent. In 2012 99% of the code was George's. For twelve years, at that time, BSD was in use.

It's our consensus to bring it back and that the change was (a) not positive; I'd say some of us even agree the change was (b) done in an underhanded way.

[2019-12-23 07:26] frank-trampe commented on #4077
I was similarly not happy about it at the time.

[2019-12-23 07:26] ctrlcctrlv commented on #4077
Certain people pretty much took advantage of the fact that the project's governance was in limbo to impose their own vision on the project which was never George's, and which no rational observer would have believed to have been George's.

[2019-12-23 07:26] frank-trampe commented on #4077
@skef, regarding sfundo files, are you sure a lot of that wasn't just moved out of other existing files?

[2019-12-23 07:29] twardoch commented on #4077
Contributing to code without reading the license terms is like signing a contract without reading it. It's still binding, because the assumption is that you're a sane individual who is resposible for your own actions.

I think that in software development, there is a common understanding that the legal structure follows the physical organization of the code. So if something is in a file, and that

[2019-12-23 07:30] skef commented on #4077
@ctrlcctrlv some vendor who wants to include parts of FontForge in a product based on its BSD licensing is not going to want to hang their legal hat on our views about GW's intent.

@frank-trampe They don't seem to have been "moved" in the sense that git blame -C reveals a prior location. So they're likely rewritten enough to reset the copyright and therefore the licensing.

[2019-12-23 07:32] frank-trampe commented on #4077
Agh, okay. I'll look at those a bit more tomorrow.

[2019-12-23 07:33] ctrlcctrlv commented on #4077
I think we should send this letter to fontforge-devel:

[code]

[2019-12-23 07:34] skef commented on #4077
I suppose the summary point, though, is that this looks very tractable already if a certain small set of people play ball.

[2019-12-23 07:35] ctrlcctrlv commented on #4077
From my view of things, the most important vote right now is @JoesCat's. If he agrees we could be 100% BSD again by the New Year.

[2019-12-23 07:36] jtanx commented on #4077
I'm not sure about that, I don't see how this can be trivially undone without getting permission from @monkeyiq:

[2019-12-23 07:37] ctrlcctrlv commented on #4077
@skef and I agreed in the past that the word list parser needs rewriting, so we just have to bump up the priority of that

[2019-12-23 07:37] ctrlcctrlv commented on #4077
By all means though let's get @monkeyiq to agree if we can

[2019-12-23 07:37] skef commented on #4077
@ctrlcctrlv if the nominal powers that be want to do this, then the remaining problem isn't a vote, it's getting each remaining copyright holder of a line in a GNU file to relicense, or alternatively to otherwise-implement the code.

[2019-12-23 07:38] frank-trampe commented on #4077
@ctrlcctrlv, we may get more volunteers if we word the note to the mailing list a little more plaintively. I'm too tired to write anything right now, but I will post a draft tomorrow.

[2019-12-23 07:39] twardoch commented on #4077
...or some vendor who wants to contribute to FontForge or fund contributions to FontForge, while entertaining the notion that they potentially _could_ include parts of it in a product based on its BSD licensing in future.

[2019-12-23 07:41] skef commented on #4077
If I feel like it I may prepare a PR this evening that will get the LICENSE file sections current and create an area for "relicensing statements". I'm presuming that a PR submitted by the same github user, approved without squashing, will be as good a record as what we have for copyright now, and therefore sufficient.

[2019-12-23 07:42] frank-trampe commented on #4077
That seems logical to me. If it's sufficient to accept the original license from the contributor that way, we can surely take amendments in the same fashion.

[2019-12-23 08:22] twardoch commented on #4077
Yes, I totally get it. I prefer to steer my own resources and those I have some influence of towards the projects that don't impose many restrictions today onto my potential use of those projects in future in ways that I haven't perhaps even thought of yet.

From my point of view, that's a fair allotment of my resources. So I personally prefer permissive models where I don't have to track my legal

[2019-12-23 08:39] JoesCat commented on #4077
Hi everyone - seems the messages are flying fast and furious at the moment here.
My first suggestion - read the laws on copyright, I would suggest US Copyright law.
Every single license regardless of what it says, goes back to copyright law.
Once you understand Copyright Law (first), then the rest makes sense.

For example, take libspiro as a good example.
This all started from libspiro 20071029,

[2019-12-23 08:45] ctrlcctrlv commented on #4077
This is inaccurate. Any contributor can dual-license their contribution. @jtanx isn't saying his patches are non-GPL, he's saying they're both GPL and BSD.

[2019-12-23 08:48] skef commented on #4077
@JoesCat the claim is that regardless of whether the project as a whole was being distributed under a GPL, all updates to previously BSD-licensed files continued to be BSD-licensed given 1) the per-file license at the top and 2) the note in LICENSES.

The current note in LICENSES is a copy of the note added in 2012 update 4f871f469e by ... you.

[2019-12-23 08:50] JoesCat commented on #4077
Read copyright law first, then tell me otherwise. Law is law. Licenses are based on Copyright, not the other way around. I can dig around for some old emails where @davelab6 pointed out wrappers.

example....
GPL blah, blah, blah...
...indent...BSD3 blah, blah, blah...

Sorry, but law is law.

[2019-12-23 08:53] skef commented on #4077
Tell you otherwise about what? What are you disputing?

Are you claiming that if a project has a single license file stating that all contributions will be treated under that license, and an individual contributor later disputes that their code falls under that license, their claim trumps the project's claim?

[2019-12-23 09:00] skef commented on #4077
(The obvious reason to be skeptical about such a claim being that it would basically make all purported licensing of open-contribution projects moot.)

[2019-12-23 09:03] ctrlcctrlv commented on #4077
Any contributor can dual-license his patches...dual-licensing is a common practice in open source. "Law is law" does nothing to erase this.

[2019-12-23 09:14] jtanx commented on #4077
I'm fairly sure no one in this thread is a lawyer (but prove me otherwise). So I'm a little dubious of blanket statements like:

I'm pretty sure at the least I can license my code however I like, assuming it's compatible with the overarching license.

[2019-12-23 09:27] skef commented on #4077
Reading through the long comment again, the reasoning goes further in "the other direction" than I find plausible. I can certainly accept the possibility that the license of various contributions may be *disputable*, and if that were correct then that could cause problems down the road.

@JoesCat's view is much stronger: that all contributions since 2012 are GPL/copyleft and therefore (at a minimu

[2019-12-23 09:30] twardoch commented on #4077
A patch is an instruction which portions of some original work to remove and which portion to add. A complete replacement of the work with something else is "the ultimate patch".

I don't think that the act of removal of some portions of copyrighted work is subject to that work's license — if that were so, you wouldn't be able to remove any GPL software from your computer. No, the act of destructi

[2019-12-23 09:42] twardoch commented on #4077
The stability of the legal system on the whole relies on the fact that you can trust the information provided, that the information has been provided to you responsibly. The explicit trumps the implicit.

If I only download some some file that clearly states the license terms and the author in the header, I should be able to trust that those license terms plus general law applies to this file. If

[2019-12-23 09:47] twardoch commented on #4077
Basically, the only responsible way of dealing with collective authorship is to assume that, as a principle, the authors know what they are doing. And that includes the legal status of contributions.

The author has a choice to explicitly mark their contribution under a specific license. If the contribution patches a work (typically: file) that carries an explicitly stated license, and the patch i

[2019-12-23 09:48] ctrlcctrlv commented on #4077
I agree with @twardoch, and that's saying something given how we got to know one another just yesterday.

[2019-12-23 10:03] twardoch commented on #4077
The reasoning I’m presenting here is consistent with what I know of copyright disputes in other fields. Hollywood filmmaking is a field where collective authorship is common practice. If there is a screenplay written by A, then B comes and does some rewrites, and then C comes and overwrites everything that B has added, leaving no words from B's contribution, then B has no copyright claim over the

[2019-12-23 14:24] khaledhosny commented on #4077
I have not seen this, or seen it and missed this detail. I only contributed to this project under the assumption that it is a GPLv3 project, otherwise I would have not. I have very strong opinion about this and I do not wish for my FontForge contributions to end u in any non-free software project (which a non-copyleft license would allow). I’m contributing my time for the common good, which copyle

[2019-12-23 14:27] davelab6 commented on #4077
This is not valid. On key point of copyright is that it applies to derivative works, and code licensed under GPL can only be derived under the GPL. So assuming that the per-file licensing is valid - which like Khaled I dispute  - then rewriting code that has parts that are GPL means the complete work remains GPL.

[2019-12-23 14:31] khaledhosny commented on #4077
He abandoned the project, people who had to maintain it got to chose how they want it licensed, it is a fair game and everyone is welcome to use his origin code as he left it in the ways they please.

[2019-12-23 14:34] khaledhosny commented on #4077
GPL is not a per-file license (that is MPL). I only contributed to this project because it was declared as GPL project, hiding some significant and uncommon details like these in a file and expecting everyone to read it is rather unreasonable.

[2019-12-23 14:36] khaledhosny commented on #4077
So are future proprietary-software users of this code going to release theirs under BSD as well?

[2019-12-23 14:42] twardoch commented on #4077
@davelab6 Are you saying that the fact that someone added a few GPL-licensed files to a repo magically invalidated the BSD license issued by the original copyright owner as well as those who contributed code under the BSD license? I’d find that a novel and risky claim.

Of course anyone can take BSD code and reissue it under GPL, because BSD permits that as I understand. This does not, however, ma

[2019-12-23 14:48] twardoch commented on #4077
I'm not sure I understand the question. What’s “theirs”? Any software that the future proprietary-software users create?

Either way, I have no idea. You'd have to ask them. Perhaps they know what they will do “in future”, perhaps not. I, for example, have absolutely no idea what I’m going to do in 15 minutes from now — and I imagine that's true for most people, if not all.

[2019-12-23 15:01] twardoch commented on #4077
I think I was often under the impression that something was A, but it turned out to be B. This is why it's important to state what license you publish your own code under.

In case of FontForge, it seems to me that you may have been under the impression that the entire project is only licensed under GPL. But that's obviously not true, since large portions of it are licensed under BSD, as the docum

[2019-12-23 15:05] twardoch commented on #4077
Precisely, and it seems to me that the people who chose to maintain it licensed it in the way described in https://github.com/fontforge/fontforge/blob/master/LICENSE

[2019-12-23 15:09] khaledhosny commented on #4077
Which I don’t consider valid, GPL does not work on a per-file basis. Everyone is free to ignore me, but my code was and still is GPL.

[2019-12-23 15:36] twardoch commented on #4077
Khaled,

I’m not sure what you meant earlier when you said that the licensing information was “hidden in a file”.

The licensing information at the top of the files that are part of the code has been the standard way of declaring the license terms since, I think, the 1980s. The LICENSE file in the main folder of a package is a more modern practice, but still popular for at least more than a decade

[2019-12-23 15:46] khaledhosny commented on #4077
OTS has a regular and straightforward setup, FontForge (as I now discovered) is not, it is claiming to be “GPL but not really” which is not something I’ve encountered before, and so unsual that it should have been put in a more prominent way, not in the 3rd paragraph of the LICENSE file that starts with stating that “FontForge is available as a whole under the terms of the GNU GPL”, and having a C

[2019-12-23 16:41] twardoch commented on #4077
3 or any later version.
However, almost all of its parts are available under the "revised BSD license" ([pdf](http://www.law.yi.org/~sfllaw/talks/bsd.pdf)) because FontForge was mostly written by George Williams, using that license.

I don't see how this is some “predatory” whatever. I also don't see how FontForge “pretends” something, when the second sentence starts with “However”.

Further on, t

[2019-12-23 17:26] frank-trampe commented on #4077
@JoesCat, I remain confident that the per-file licenses alone, but particularly combined with the note in the per-project license, are valid. We can continue to debate that point. But another important question here is whether you object to your contributions in GPL files being relicensed.

[2019-12-23 17:32] frank-trampe commented on #4077
@khaledhosny, the entire project is indeed available under a GPL license. Nobody is claiming otherwise. The point is that that license grant does not invalidate or revoke the per-file license grant. It's also worth noting that that GPL license grant was only possible because the underlying files were available under equivalent or non-permissive licenses, not because all of the authors (GWW...) exp

[2019-12-23 17:34] frank-trampe commented on #4077
@khaledhosny, the entire project is indeed available under a GPL license. Nobody is claiming otherwise. The point is that that license grant does not invalidate or revoke the per-file license grant. It's also worth noting that that GPL license grant was only possible because the underlying files were available under compatible licenses, not because all of the authors (GWW...) explicitly agreed to

[2019-12-23 17:48] frank-trampe commented on #4077
@JoesCat, to answer your other question, there are several motivations for the changes in question.
* Dissatisfaction with the abrupt switch to the GPL.
* Dissatisfaction with the convoluted and confusing state of the current licensing (which I think is adequately demonstrated by the length of this thread).
* Dissatisfaction with our present inability to collaborate with non-GPL projects and maker

[2019-12-23 22:05] skef commented on #4077
@davelab6 There's a lot of cross discussion in this issue, but here you're quoting me and responding and I want to clarify my point and its relation to your response.

The overall argument is about the licensing of various files. I'm responding in your quote to @frank-trampe, who was asking about the status of certain files with GPL licenses at the top. He's asking whether some of the original sou

[2019-12-23 23:09] skef commented on #4077
Since I opened this and it has a lot of related politics, I'm going to clarify my own position:

1. I don't have strong feelings about this change either way.
2. I was also surprised to hear about the license switch, and wondered how that could work if I didn't have any awareness of it. After being directed to the files, however, the reasoning seems entirely sound: If any open-contribution project

[2019-12-23 23:11] davelab6 commented on #4077
Sorry about closing and opening the issue earlier. I was on my phone and my scroll action misfired.

My phone also lost my lengthy reply. I will endeavour to rewrite it and actually post it in the next few weeks. I just had a kid so I'm busy 😂

Tldr is:

@ctrlcctrlv Khaled's original intent matters just as much as George's.

@twardoch Basically, dual licensing complete works isn't the same as GPL

[2019-12-23 23:20] skef commented on #4077
@davelab6 Including the text of the GPL in your project is not a magic incantation. The text applies to the contributions licensed with it. The "stuff" in question is not in the README, it's in the LICENSE file. If the LICENSE file doesn't govern licensing, nothing else does, including the included GPL file.

If the project wanted things to work as you describe in 2012 it shouldn't have included s

[2019-12-23 23:32] skef commented on #4077
Suppose group A maintains a BSD license on their library and group B uses the library and maintains a GPL license on their project. Group B proposes to "join forces" with A and maintain the A library with their source. A agrees on the condition that contributions to their library files continue to have a BSD license, B agrees to the condition and adds language to that effect in their license file.

[2019-12-24 00:11] ctrlcctrlv commented on #4077
Going back to the 2012 code and choosing another name is defeatist. We're clearly in the majority, we have no reason to do that.

[2019-12-24 00:47] ctrlcctrlv commented on #4077
Actually, there are two related motions here, so let me try to tally the votes (if I got yours wrong just let me know and I'll edit this post):

**Motion &numero;1**

The question is: Assuming the Open Group License is more or less BSD equivalent, would the project then be validly BSD, at least by its own standards?

*Yay*

Frank, Fred, Skef, Jeremy.

*Nay*

Khaled, Dave, Joe.

**Motion &numero;2*

[2019-12-24 00:54] skef commented on #4077
@ctrlcctrlv The dispute over what is licensed how concerns legal/factual issues. Project members can of course vote on that because one can hold a vote on anything, but the result would be more or less irrelevant. Licenses ultimately provide legal protection for some uses and legal prohibitions on others. Anyone concerned about legal issues -- particularly in the gap between GPL and BSD -- would n

[2019-12-24 01:03] ctrlcctrlv commented on #4077
I understand that. Question №2 is more important, at least in terms of how we proceed, but I thought Question №1 was interesting to at least tally, to see who comes down on what side. Ultimately @frank-trampe is going to decide what legal framework "The Project" as a collective decides is right.

[2019-12-24 01:06] ctrlcctrlv commented on #4077
If enough people "vote" yes on Question №2, then we can just go back to the 2012 commit and re-apply all commits from the "Yay"s, and figure out what to do with the patches of the "Nay"s (which is in GPL-only files).

[2019-12-24 01:11] ctrlcctrlv commented on #4077
I'm not trying to stop debate on whether we're right on the legal question, but that debate can go on forever since it's a debate about the law and even lawyers don't agree about the law, which is why courts exist. The more important question is Question №2 because we already know that "The FontForge Project" has decided you're right about Question №1.

[2019-12-24 01:43] skef commented on #4050
What I thought was a solution to this problem in #4060 turns out not to be. Unfortunately I don't have a current plan to fix this problem.

[2019-12-24 01:58] ctrlcctrlv commented on #4050
So if someone else were to try they'd basically need to replace `SplinePointListIsClockwise`?

[2019-12-24 02:03] skef commented on #4050
I think the question is: Is it more work to try to implement someone else's algorithm or to read through the existing one until you understand it so you can fix it? It's hard to answer that except in relation to a specific alternate algorithm.

Since I don't have one chosen, I'm punting for now because digging into `autotrace.c` seems like a lot of work. I may have burned out a bit fixing the Cubi

[2019-12-24 02:10] ctrlcctrlv commented on #4050
Sorry about that. Enjoy your holidays. This layer stuff has me shaking my head too; George tacked it on in a hurry and it really shows.

[2019-12-24 02:29] #4041 closed

[2019-12-25 02:31] davelab6 commented on #677
But SVG isn't supported in Android or Chrome and won't be, and if CPAL is updated to support gradients then it's checkmate for SVG.

Do you have any examples of the bitmap mix being useful?

CBDT is on its way out due to the 127 ppm limit. sbix is doing fine as it's simple to implement and allows any aesthetic, albeit via bitmaps. COLR locks you to very specific aesthetic (flat color), so it has s

[2019-12-25 03:29] ctrlcctrlv commented on #677
I've decided to implement CPAL and am not willing to debate it further at this time. Even if use of it disappears tomorrow (big if) there are existing fonts to think about. I need it for my own projects as stated. Not willing to debate any more. Merry Christmas

[2019-12-25 07:54] ilyaza commented on #4077
My memory may be faulty, but what I write below is based on what I remember about discussions with RMS when trying to convince him that GPL is silly.  **If** my memory is not faulty, this reflects the opinions of GNU’s lawyers of about 25 years ago, explained by RMS to me.  (The quotes below — if not marked — are from @twardoch.)

 -    *The situation with licensing is extremely simple: a license

[2019-12-25 08:00] ctrlcctrlv commented on #4077
Voting is not irrelevant. It helps inform @frank-trampe on which interpretation the majority of active contributors think is right, which will then be carried out and adopted by The Project, and will become the interpretation espoused in its documents.

You can disagree. I'll follow the case intently if it ever gets to court. :joy:

[2019-12-25 08:05] ilyaza commented on #4077
As I said, it cannot “be carried out and adopted by The Project”.  Of course, you may **pretend** that it is carried out as strong as you wish — but it makes exactly the same sense as doing nothing.  So why do it?

[2019-12-25 08:06] ctrlcctrlv commented on #4077
OK, we'll pretend then

[2019-12-25 08:11] davelab6 commented on #4077
Correct, although I'm not sure it's only Khaled you have to check in with.

@twardoch and I have been bickering about this for at least 15 years so I'm eager to have it out with him again, but tldr is that he brings up money which is imho irrelevant; the relevant issue is user freedom. Khaled has been very clear here that he doesn't want others to restrict his work, not sell it. That would be fine

[2019-12-25 08:13] davelab6 commented on #4077
You would need unanimity not majority to avoid going back to 2012 and replaying with a filter for GPL parts.

[2019-12-25 08:19] ilyaza commented on #4077
IANAL, but one may also consider a different approach: isolate the poisoning contributions into a separate branch on GIT.  Have another branch which is purely BSD.  To get a working code, one merges two branches.  **And** one can freely borrow code from the BSD-only branch.

[2019-12-25 08:20] ctrlcctrlv commented on #4077
You're not in charge of The Project anymore Dave, so please don't try to dictate what will happen. I'm not doing that by simply keeping track of who is on what side.

For sure some people's work will need to be removed if their contributions were to GPL-only files unless they vote Yay on Question &numero;2.

If The Project decides that licensing is per-file, everyone is free to have their opinion,

[2019-12-25 08:22] ilyaza commented on #4077
What I propose above is yet finer licensing than “per-file”.

[2019-12-25 08:25] ilyaza commented on #4077
What is your agenda?  If you want people to borrow from “your” code, your license should be solid enough to satisfy ***them***, not you.

[2019-12-25 08:28] ctrlcctrlv commented on #4077
My agenda (or what I'd like to see happen) is that the GPL-only contributions are identified, cordoned off, replaced where necessary, and a BSD-like license is returned to.

If The Project determines some patches to be BSD that you think are actually GPL (because you vote Nay on Question &numero;1), feel free to pursue your GPL rights you think you're owed in court. That's really all there is to i

[2019-12-25 08:30] ilyaza commented on #4077
This is not agenda.  What are doing this ***for***?

(And, AFAIK, I never contributed any code, so my involvement is purely educational.)

[2019-12-25 08:33] ilyaza commented on #4077
Instead of doing “pretend-voting”, why not just collect statements from the contributors that they agree with BSD-license on their contributions?  (The voting would not free you from such collecting anyway…)

[2019-12-25 08:35] ctrlcctrlv commented on #4077
I believe George Williams' intent was for his project to be BSD or similarly licensed and I think that continuing with a GPL default for new contributions is not respecting that.

There's nothing pretend about the voting. The voting is really happening. It's just you think, we're wrong on the merits. You think the "GPL cordon" should be wider than The Project has decided it will be. You're entitle

[2019-12-25 08:39] davelab6 commented on #4077
I appreciate the clarified context! Thank you

I think what set me off was the idea that copyright can be 'reset' through derivative work. Adam's proposal that replacing GPL licensed work with BSD licensed work, word by word, seems ahem "novel" to me because it seems like derivation rather than combination.

Got it. If the per-file thing is valid, I agree.

However, if Khaled or others say they di

[2019-12-25 08:44] ctrlcctrlv commented on #4077
I do

[2019-12-25 08:49] davelab6 commented on #4077
Right. But no one is. This is an unincorporated project with multiple rightsholders, not just of code copyright. No single person is in charge of the project, except by mutual consent.

Like Adam, I've been around the block and was pulled into this thread, so I figured you might want to hear what I have to say.

Likewise.

But you are seeking to dictate what will happen.

There is no entity called

[2019-12-25 08:51] ctrlcctrlv commented on #4077
Is that really true? I think now we're getting into issues of governance, which I welcome. I've always thought this project has confusing governance.

My understanding, having been a contributor now for a few years, is that @frank-trampe has the final vote, and is the "Maintainer", and can enact the will of "The Project".

Are you saying I'm wrong?

[2019-12-25 08:51] skef commented on #4077
@ilyaza

You say that from a legal perspective there is no implicit licensing. Can I assume, then, that I could right now declare all of my contributions so far incompatible with a GNU license, and the project would have to back them out?

[2019-12-25 08:57] davelab6 commented on #4077
I don't see how this issue can be anything but about governance 🤓

Completely :) Frank is only able to decide things between people because those people consent to him playing that role. "The Project" and "The Maintainer" are as valid as Monopoly™ Dollars; they work only because the people using them mutually agree they work.

[2019-12-25 08:59] davelab6 commented on #4077
Libre licenses can't be revoked, although some jurisdictions have an implicit or underlying time out on licensing unless the license explicitly says it lasts forever - @twardoch

[2019-12-25 09:00] ctrlcctrlv commented on #4077
Let's say Frank decides that the "gotcha clause" as you're calling it is legally valid, and the GPL cordon is drawn according to that interpretation.

Does Frank have the power to do that? If not, what's stopping him from exercising that power?

[2019-12-25 09:00] skef commented on #4077
@davelab6 If there is no implicit licensing then my code isn't libre-licensed now and there's nothing to revoke. It can't work both ways.

[2019-12-25 09:06] skef commented on #4077
@davelab6 So my code is GPL, without me saying anything, based on the existence of license files in the project, but what those files say specifically is irrelevant when it comes to @khaledhosny's code whether or not he said anything in the past about how it was to be licensed? How do the license file contents apply to me in this way but not to him?

[2019-12-25 09:29] ilyaza commented on #4077
Exactly.

[2019-12-25 09:39] skef commented on #4077
@ilyaza OK, good. That view has the notable virtue of being consistent.

You sort of implied this at the start of your first comment, but from this perspective almost all open source software is on very shaky legal ground *theoretically*. Practically speaking -- and this sort of law tends to be pretty practical when it comes down to it -- it means that open source ultimately relies on copyright ho

[2019-12-25 09:42] ilyaza commented on #4077
This is a self-fulfilled prophesy: this depends-on/defines what the word “libre” means…

Again, a point of view of 25 years ago: if I maintain my copyright, I can revoke my license at any time.  (This is why FSF was (is?) mandating the transfer of copyright to them.)

Anyway, the common sense says that ***unless*** a licence is written in such a way that it cannot be revoked (and the point of view

[2019-12-25 09:43] jtanx commented on #4077
I found this quite interesting:

https://www.lexology.com/library/detail.aspx?g=489c0dfb-2376-4d20-a449-ca81cd2c721e

Haven't found where exactly that's mentioned in the ToS though.

[2019-12-25 09:51] ilyaza commented on #4077
“It really happening” has nothing to do with whether it is “pretend-voting”.  We can vote between participants of this issue whether to impeach Stalin.  It could really go through ***and*** it would still be pretend-voting.

[2019-12-25 09:52] skef commented on #4077
Some (weak) support for the "common law" perspective: https://opensource.com/law/11/7/trouble-harmony-part-1#contribution-policies-and-free-software-tradition

[2019-12-25 10:03] fonix232 commented on #677
(emphasis added by me) Care to elaborate about this one? Some citation would be nice - I'd at least like to know where and when Google stated they won't support SVG.

[2019-12-25 11:15] davelab6 commented on #677
Updated my comment. I see no plans for it. The silence is deafening to me.

[2019-12-25 11:16] davelab6 commented on #677
🎉🎉🎉👍👍👍

[2019-12-25 13:35] twardoch commented on #677
I think it's a matter of supply and demand. With SVG in Adobe apps, more
people will make such fonts, and Chrome may adapt. Also, if Google doesn't
it, it's possible that MS will contribute OT SVG support in Chromium, now
since they're switching to Chromium for new Edge. Right now, they're busy
making the product ship, but once this goes through — MS likes to implement
reasonably complete support

[2019-12-25 14:16] frank-trampe commented on #4077
Voting to impeach Stalin might provide a nice point of unity for us. But more likely a crushing illustration of our disunity, so I won't propose it.

On the question of whether to pursue BSD licensing to the extent we can legally do so, I think that we have unanimity among people who consider themselves active contributors to the project (not counting @khaledhosny since he keeps removing himself f

[2019-12-25 15:25] jtanx commented on #4077
My take is that the wording in LICENSE (which has remained the same since switching to GPLv3 overall), the per-file license, and the Github TOS make it pretty clear cut that contributions made to each file take on the license of that file, which in the majority of cases, is the (modified?) BSD license.

[2019-12-27 12:20] twardoch commented on #4077
A couple of points:

In most legal systems, the concept of what is a legally binding action is stacked. Explicit consent to publishing your work under specific license terms is “best”, but the majority of collaborative opensource software development has functioned without CLAs. In addition to confirming the intent to publish the work under a specific license, the CLAs often address the notion of

[2019-12-27 12:44] twardoch commented on #4077
BTW, I don't think using opensource software is dangerous, because I trust that  people publish software responsibly. Sure, there are cases where some person takes someone elses proprietary or otherwise licensed code, removes the copyright entry and the original licensing terms, and sticks in something of their own — so as a user, I should not have limitless faith that “what I read on Github is tr

[2019-12-27 13:04] twardoch commented on #4077
What's part of the extended software is of course the culture behind its development. With hundreds of thousands of opensource projects, and 30+ years of software publishing, there are certain practices, procedures and common expectations. And _in my opinion_ at the very core of those there is Ockham’s razor: prefer the explicit over the implicit, prefer the written over the unwritten, and then al

[2019-12-29 12:36] ctrlcctrlv commented on #2230
Five years later I'll give you an answer: No.

[2019-12-29 12:36] #2230 closed

[2019-12-29 13:42] ctrlcctrlv opened #4081 "Way too many people have push access"
And this is a security risk. I doubt too many people installing e.g. `fontforge-git` from the AUR think about how many people can push.

And remember, since none of us active developers are in the habit of signing our commits, anyone with push access can push in one of our names.

Just because nothing has happened yet doesn't mean nothing will happen.

56 people can push to the head of the reposit

[2019-12-29 14:05] tshinnic commented on #4081
I believe I am one of those mentioned. I have not contributed since a
rather severe snit over a situation I found in GWW's TTF code. Even back
when, I relied on more experienced, more familiar, people to review my PRs.

It was to encourage people to contribute that liberality was employed.
Given that people are now more familiar with how opensource projects work,
how they work together, push acces

[2019-12-29 14:11] skef commented on #4081
I hope you don't mean to imply that I am not random; it's a core part of my identity.

[2019-12-29 18:09] behdad commented on #4081
Yeah I have no idea why I'm there to being with. :)

[2019-12-30 17:55] mskala commented on #4081
On Sun, 29 Dec 2019, Fredrick Brennan wrote:

I'm not sure December 29 was a good day to initiate this discussion.  I,
for one, am currently on vacation without easy access to my Github account
or even to email, and I think it's predictable that many others for whom
it's relevant will be similarly unavailable for a serious discussion in
the last week of December.

That said, in my own case, it's f

[2019-12-30 18:06] frank-trampe commented on #4081
Per @mskala's point, we can certainly let the discussion run a bit. I suppose that we also need to discuss signing.

[2019-12-31 01:48] ctrlcctrlv commented on #4081
Given that this state has endured for years, and how long the list is, I didn't expect we could resolve it quickly. :-)

[2019-12-31 06:28] lethefrost opened #4082 "Mac OS Gatekeeper prevents launch without workaround"
After I updated the system version to Catalina, I found that I was no longer able to use FontForge. It seems that it doesn't ask for the authority to access folders and it shows below in each folder when I try to find font file to open.
<img width="369" alt="Snip 2019-12-31, 01-00-50" src="https://user-images.githubusercontent.com/47198693/71611786-e1518d00-2b69-11ea-9861-e8634cc748aa.png">
<img w

[2019-12-31 06:40] ctrlcctrlv commented on #4082
At first brush this seems to be a duplicate of #2344, but it is not, it's just related.

Projects in a similar position to ours have this problem as well: [GIMP](https://gitlab.gnome.org/GNOME/gimp/issues/3710), [Inkscape](https://gitlab.com/inkscape/inkscape/issues/459). You should try the workarounds they list.

After perusing the threads myself the easiest workaround is to avoid "Downloads, Doc

[2019-12-31 17:04] mskala commented on #4081
Okay, I'm back from vacation, and have another thought.  Bearing in mind that I'm not a really active participant here and probably won't be in the future, maybe my opinion shouldn't bear a lot of weight on how the people who _are_ running the project should do so; nonetheless, maybe it'll be of interest.

There are good reasons why the committer list should be limited, but the "security" issue fo

[2019-12-31 17:13] skef commented on #4081
I think the worry is mostly about susceptibility to and (lack of) awareness of non-PR pushes into the master branch. If a large number of people have access to make subtle changes then they can leak into the official releases.

[2020-01-01 00:52] tyoc213 opened #4083 "Dialect & Indigenous fonts if there is a correct way?"
I have two cases (two different native languages): one of them works as a normal abc, but some of the sane sounds have different figures; the other one is a silabary and a mix of vocals and consonants (but different figure as in hiragana)

* I have watched some pngs that say there are 1 to 4 drawings for the same sound a.
* Watching another drawing it says that is something like hiragana/katakana

[2020-01-01 02:16] ctrlcctrlv commented on #4083
What language

[2020-01-01 05:11] FloraCanou commented on #4083
Check Unicode to find if your script is really not included. If so, use Private Use Area before they include it. Make a custom IME to input it.

[2020-01-01 09:12] ahyangyi commented on #677
@ctrlcctrlv

Happy New Year.

I am surprised by the attitude of the 6-years-ago-myself.

Any effort to add anything is plausible. Thank you a lot.

[2020-01-02 02:16] tyoc213 commented on #4083
The lenguages are aztec which seems to have **U+15C00 to U+15FFF (tentative)[1]** and purepecha which doesnt seem to have one even tentative.

@FloraCanou I will look in to this for purepecha, but if you have a short explanation of what do I need to click, it would be great :), thanks for the pointers.

[2020-01-02 16:47] tyoc213 commented on #4083
I guess, it is something like this? https://github.com/fontforge/fontforge/issues/615#issuecomment-20498736 and this one https://github.com/fontforge/fontforge/issues/3318#issuecomment-405171931

I mean I need to reencode in `ISO-10646-1` full or BMP and use the ranges

Well, I only counted 2 from the wikipedia... or they are refering to this ranges: U+E000–U+F8FF, U+F0000–U+FFFFD, U+100000–U+10FF

[2020-01-03 01:32] davelab6 commented on #677
@twardoch how much funding do you think FontLab would put into Fontforge, which features, and why? :)

[2020-01-03 01:32] davelab6 commented on #677
If it was 100% bsd

[2020-01-03 06:04] lethefrost commented on #4082
I am puzzled by the mysterious behavior of OS, and can only partially understand your words. It's maybe because I am currently not a mac developer and don't know very well about mac. I'm just curious about and wondering why some other apps could call a window (floating box) from the system, that says something like "Do you want to authorize *** app to access *** folder?" and user could choose yes

[2020-01-03 06:34] ctrlcctrlv commented on #4082
There are a few reasons, but the first one is really simple: FontForge is cross platform, primarily developed on Linux, with Windows being the other platform that gets the most developer attention.

This issue only affects Mac OS, and only the latest version of it. That means we need to (a) have a Mac OS PC (b) maybe have a developer license? (c) buy Xcode? (d) buy a signature? I really don't know

[2020-01-03 09:25] #3776 closed

[2020-01-03 15:40] JoesCat commented on #4082
This OS behaviour can probably be looked at as an incremental improvement in security.
For example, this article mentions [Nasty Mac malware](https://www.theregister.co.uk/2019/12/21/roundup_dec_20/), and MACs make up 1/12th of the PC population.
Windows requires signed "drivers" (or a conscientious approval by the end user to allow them), and also owns it's own anti-malware software, yet it also

[2020-01-03 16:46] fcambus opened #4084 "Use-after-free (heap) in the SFD_GetFontMetaData() function"
Hi,

While fuzzing FontForge with AFL, I found a heap use-after-free in the SFD_GetFontMetaData() function, in sfd.c.

Attaching a reproducer (gzipped so GitHub accepts it): [test01.sfd.gz](https://github.com/fontforge/fontforge/files/4019970/test01.sfd.gz)

Issue can be reproduced in FontForge 20190801 and with latest Git master by running:

[code]

[code]

[2020-01-03 21:15] fcambus opened #4085 "Heap-based buffer overflow in the Type2NotDefSplines() function"
Hi,

While fuzzing FontForge with AFL, I found a heap-based buffer overflow in the Type2NotDefSplines() function, in splinesave.c.

Attaching a reproducer (gzipped so GitHub accepts it): [test02.sfd.gz](https://github.com/fontforge/fontforge/files/4020930/test02.sfd.gz)

Issue can be reproduced in FontForge 20190801 and with latest Git master by running:

[code]

[code]

[2020-01-03 21:37] fcambus commented on #4084
This issue has been assigned [CVE-2020-5395](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-5395).

[2020-01-03 22:38] fcambus commented on #4085
This issue has been assigned [CVE-2020-5496](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-5496).

[2020-01-04 09:48] fcambus opened #4086 "NULL pointer dereference in the SFDGetSpiros() function"
Hi,

While fuzzing FontForge with AFL, I found a NULL pointer dereference in the SFDGetSpiros() function, in sfd.c.

Attaching a reproducer (gzipped so GitHub accepts it): [test03.sfd.gz](https://github.com/fontforge/fontforge/files/4021735/test03.sfd.gz)

Issue can be reproduced in FontForge 20190801 and with latest Git master by running:

[code]

[code]

[2020-01-04 10:03] ctrlcctrlv commented on #4086
We thank you for these issues, but FontForge **SHOULD NOT, EVER** receive untrusted input. Even if we fix all the issues you find with automated tools, there are many, *many* bugs like this.

I understand some websites might be using it that way, they are using it wrong and should be told to either:

* stop, or
* run it in a sandbox, and recreate the sandbox with each invocation.

[2020-01-05 09:02] NicoleG25 commented on #4084
Is there any plan to address this & #4085 ?
Thanks :)

[2020-01-05 09:05] ctrlcctrlv commented on #4084
I have no plans to work on this, but someone else might do so.

See https://github.com/fontforge/fontforge/issues/4086#issuecomment-570772533 for some reasoning

[2020-01-05 09:27] ctrlcctrlv commented on #4082
Even if this makes Mac users more secure, everything I wrote remains true, especially in terms of our ability to respond. Apple's Gatekeeper is not free software, nor does it does not implement an open protocol&mdash;I have no ability to fix this, and no desire to go buy a Mac. Please feel free to submit a fix if you can.

[2020-01-05 10:09] aminabedi68 opened #4087 "feature request: skew with skew angle input"
hi
fontforge skew function could be improved to support skew angle, it's a good idea to to merge 3 sub-function below into one new skew function with skew angle support:

![fontforge_2020-01-05_13-36-37](https://user-images.githubusercontent.com/25493297/71778241-7ae0ca80-2fc0-11ea-90d6-c484bd63e85a.png)

[2020-01-05 12:49] NicoleG25 commented on #4084
@ctrlcctrlv Do you plan to contact MITRE to get this [CVE](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-5395) disputed ?
or do you agree with their analysis ?

[2020-01-05 12:59] ctrlcctrlv commented on #4084
Sorry, I don't understand. What is there to dispute? What analysis has been made?

[2020-01-05 13:02] NicoleG25 commented on #4084
Do you agree with the analysis that "FontForge 20190801 has a use-after-free in SFD_GetFontMetaData in sfd.c" according to MITRE ? i.e. vulnerable to use-after-free ? or are you claiming that IT IS vulnerable and you don't plan to address this vulnerability ?
Thanks in advance :)

[2020-01-05 13:06] ctrlcctrlv commented on #4084
It's vulnerable. I have no interest in fixing it, I think doing so would be a misallocation of resources. What I choose to spend my time on doesn't bind any other developer, but it doesn't bode well either because there are only so many of us, and probably others agree with me about how to allocate their time.

[2020-01-05 13:09] ctrlcctrlv commented on #4087
What would this feature be used for?

I think a better solution would be to add &ldquo;Presets&rdquo; to the &laquo;Transform&laquo; (and possibly other dialog), similar to how the GIMP does it.

[2020-01-05 13:12] NicoleG25 commented on #4084
Thank you for your explanation and patience !
Cheers.

[2020-01-05 15:22] aminabedi68 commented on #4087
as a font designer i think it could be useful, if angle left blank or 0, it's the same function and when we write a none-zero number, skew angle will change. i think if you add it, it works for all.
about preset, it sounds good and even better with other effects(like outline, shadow,...).

[2020-01-05 15:42] skef commented on #4084
@NicoleG25 Just to summarize the explanation @ctrlcctrlv referred to in a somewhat different way:

The primary three ways that software systems present security vulnerabilities, given problems like those reported in those issues (buffer overflows, wild pointers, etc.) are:

1. They take "untrusted" inputs of one sort or another, usually over a network. Those inputs can be carefully constructed to

[2020-01-05 17:56] fcambus opened #4088 "NULL pointer dereference in the SFD_AssignLookups() function"
Hi,

While fuzzing FontForge with AFL, I found a NULL pointer dereference in the SFD_AssignLookups() function, in sfd1.c.

Attaching a reproducer (gzipped so GitHub accepts it): [test04.sfd.gz](https://github.com/fontforge/fontforge/files/4023744/test04.sfd.gz)

Issue can be reproduced in FontForge 20190801 and with latest Git master by running:

[code]

[code]

[2020-01-05 23:39] Krulvis commented on #4056
Hijacking this thread:
I successfully compiled from scratch using the build commands found in the aur [PKBUILD](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=fontforge-git) file.
I want to be able to use the binaries in python however and found [online](http://dmtr.org/ff.php) that I should do this: `configure --enable-pyextension` But I have absolutely no idea what this means or where to

[2020-01-05 23:48] skef commented on #4056
Cmake build guidance is here: https://github.com/fontforge/fontforge/wiki/CMake-guide-for-FontForge

However, the python modules are now supposed to build by default when python is enabled and the build process can "find" the needed python configuration.

[2020-01-05 23:54] Krulvis commented on #4056
Thanks for the quick response!
I've now ran this to build with cmake: `cmake -G"Ninja" -D"CMAKE_INSTALL_PREFIX:PATH=/usr" -D"CMAKE_INSTALL_LIBDIR:PATH=lib" -D"Python3_ROOT_DIR=../../venv" ..
`
but I can't find python modules anywhere. How do I enable python and make sure it can "find" the needed python configuration?

[2020-01-06 00:27] skef commented on #4056
There's not much I can do to help from this end; I don't have any information about what may be going wrong. I run an Arch system myself and when I build with CMake and similar arguments (well, no CMAKE_INSTALL_LIBDIR) the modules are installed.

After you build what does the output of "ninja check" look like?

[2020-01-06 00:32] Krulvis commented on #4056
`100% tests passed, 0 tests failed out of 100`
[code]

Where do you find the modules as in, how do you know they are installed?

[2020-01-06 00:34] jtanx commented on #4056
I doubt it'd work when you're targeting a virtualenv. What's the cmake output, from running the cmake command?

[2020-01-06 00:49] Krulvis commented on #4056
I see what you mean,
reran the build from another folder now targeting my python3.8 directly:
`cmake -G"Ninja" -D"CMAKE_INSTALL_PREFIX:PATH=/usr" -D"CMAKE_INSTALL_LIBDIR:PATH=lib" -D"PYTHON=/usr/bin/python3.8" ..`
However I still can't find fontforge as module anywhere in the python3.8...

Here are the CMake output files
[CMakeError.log](https://github.com/fontforge/fontforge/files/4024318/CMakeEr

[2020-01-06 00:51] jtanx commented on #4056
Can you try deleting and recreating your build folder, and just running

[code]

I don't need the CMakeError/CmakeOutput.log files, just what it prints to the console.

[2020-01-06 00:57] Krulvis commented on #4056
This is the output from `cmake -GNinja`
https://pastebin.com/BfqLPtkn

[2020-01-06 01:00] jtanx commented on #4056
From the logs it looks like it worked fine. What do you mean by it not working? Have you actually tried running `ninja install` at some point?

[2020-01-06 01:02] Krulvis commented on #4056
I did ran just `ninja` without install.
This is the output from `ninja install`
[code]

[2020-01-06 01:07] jtanx commented on #4056
I'd suggest you read up on the steps involved in building from source (it's more or less all the same, a configure step, a build step and an install step).

The specific question here is, are you ok with installing this build of fontforge into your system (or more precisely into /usr/local)? This should also make the fontforge python modules importable from system python. If so, you'll need to run

[2020-01-06 01:15] Krulvis commented on #4056
Yea, ok I'm fine with installing it into my system using sudo, but I still can't find or use those modules...
They are not in /lib/python3.8/site-packages and neither can I import fontforge when I run a python script using that python3.8

[2020-01-06 01:26] jtanx commented on #4056
Can you see them under `/usr/local/lib/python3.8/site-packages`?

[2020-01-06 06:52] lethefrost commented on #4082
Thanks for explaining. I understand you are developing in an unfriendly environment and all of your work are not easy. You guys are really nice! I hope I could help in the future if I learn about that.

[2020-01-06 07:37] skef commented on #4056
As an arch user I would say that `cmake  -GNinja ..  -DCMAKE_INSTALL_PREFIX=/usr` is a more typical configuration. Arch maintainers almost always redirect install output to the hierarchy directly under `/usr`.

[2020-01-06 09:31] fcambus opened #4089 "NULL pointer dereference in the strstrmatch() function"
Hi,

While fuzzing FontForge with AFL, I found a NULL pointer dereference in the strstrmatch() function, in char.c.

Attaching a reproducer (gzipped so GitHub accepts it): [test05.sfd.gz](https://github.com/fontforge/fontforge/files/4025472/test05.sfd.gz)

Issue can be reproduced in FontForge 20190801 and with latest Git master by running:

[code]

[code]

[2020-01-06 09:51] Krulvis commented on #4056
That's what I thought but I guess it doesn't really matter to me in this case.

Yes! Thanks for the amazing help guys, I'm still confused as to why it gets placed there though. I ran without the INSTALL_PREFIX command so was expecting the python module in /lib/python3.8.

This can now be marked as solved as I am expecting the same result for vanche once he follows the steps explained in this threa

[2020-01-06 09:58] fcambus opened #4090 "NULL pointer dereference in the dumpcffnames() function"
Hi,

While fuzzing FontForge with AFL, I found a NULL pointer dereference in the dumpcffnames() function, in tottf.c.

Attaching a reproducer (gzipped so GitHub accepts it): [test06.sfd.gz](https://github.com/fontforge/fontforge/files/4025578/test06.sfd.gz)

Issue can be reproduced in FontForge 20190801 and with latest Git master by running:

[code]

[code]

[2020-01-06 10:19] skef commented on #4085
@fcambus This one isn't reproducing for me with either a debug or release build. I'm one unrelated change ahead of the current master 15af0cffb26334fa7fdb1b671adbf9f44ca7a2d6. Can you check again and supply more info about your configuration if you can still reproduce?

[2020-01-06 10:55] skef commented on #4089
@fcambus I only tried a debug build but this one didn't reproduce for me either. Master 15af0cffb26334fa7fdb1b671adbf9f44ca7a2d6 plus a few unrelated fixes.

I take it the trace itself is from 20190801 rather than the "current git master" given that tottf.c:3084 is currently in `AlreadyMSSymbolArea` rather than `SFDefaultOS2Info`. FontForge rarely backs out a commit so supplying the trace from the

[2020-01-06 10:57] skef commented on #4089
Oh, actually looking at the `strstrmatch` calls in `SFDefaultOS2Info` I probably fixed this by supplying an empty `fontname` string, so I guess my assertion of "unrelated fixes" was (maybe) not accurate.

[2020-01-06 11:35] #4084 closed

[2020-01-06 11:35] #4086 closed

[2020-01-06 11:35] #4088 closed

[2020-01-06 11:35] #4089 closed

[2020-01-06 11:35] #4090 closed

[2020-01-06 11:55] ahyangyi commented on #4081
I used to have push access and I (ab)used it to push two crash fixes many years ago. I think that was part of the history how our community formed -- contributors were rare, anyone who is engaged in discussion was invited and entrusted with push power. In other words, we gave everyone in sight push power.

And... then at some day I lost that push access. The “remove push access” thing had definite

[2020-01-06 12:12] ctrlcctrlv commented on #4081
I agree that it should not be hard to get push access; and if we take away someone's access, they should be able to ask for it back after contributing again for a time. Let's say someone contributes ten patches in 2015, then none for over a year. They should lose access. But then let's say they come back and contribute two patches. That should be enough to give it back.

[2020-01-07 12:56] fcambus commented on #4085
@skef I can confirm that I can reproduce with 15af0cffb26334fa7fdb1b671adbf9f44ca7a2d6, but that it is fixed with commit 048a91e2682c1a8936ae34dbc7bd70291ec05410.

[2020-01-07 13:15] skef commented on #4085
Weird -- that implies the problem was downstream of #4084, which was the only one I fixed first. The relations between these fuzzing symptoms can be counter-intuitive.

I guess we can close this.

[2020-01-07 13:16] ctrlcctrlv commented on #4085
Don't mind if I do :stuck_out_tongue:

[2020-01-07 13:16] #4085 closed

[2020-01-07 13:42] skef commented on #3933
@ctrlcctrlv worked around his short term image-reference requirement and I'm not actively working on #3915 either. I don't personally think it should be closed but there also isn't a big hurry.

The new Expand Stroke implementation is in master and I'm pretty close to getting arcs joins implemented. I still need to document around #4073 but that shouldn't be hard. We don't have a solution for #404

[2020-01-07 13:47] ctrlcctrlv commented on #3933
I think there are still situations where #3915 is very useful, but I worked around it for my situation by writing #4074. I don't think it hurts to leave it open. I recently contributed a feature to [kovidgoyal/kitty](https://github.com/kovidgoyal/kitty), (https://github.com/kovidgoyal/kitty/pull/2248,) and while doing so, I noticed that some of its PR's are marked as "Draft". Is there any chance w

[2020-01-08 06:26] ctrlcctrlv commented on #4083
Do they look something like Mayan hieroglyphs?

Anyway, what I would recommend for your case, after thinking about it a little, is making a new font, then hitting Encoding&rarr;Compact (which will clear everything). Then, press Encoding&rarr;Add Encoding Slots, enter how many you need, then draw your glyphs. Then, Element&rarr;Glyph Info for each glyph, and give it an encoding. If the Unicode Cons

[2020-01-08 06:26] ctrlcctrlv commented on #4083
(By the way, Add Encoding Slots can be used multiple times, if you don't know yet how many glyphs you need.)

[2020-01-08 06:30] ctrlcctrlv commented on #4083
By the way, you are going to want to give the glyphs _good, descriptive names_, not NameMe.0, et cetera, so that if you need to re-encode your font at a later date as Unicode shifts things, you can do so easily. This will also make your font's glyphs easy to type in Metrics View.

[2020-01-08 19:08] daT4v1s opened #4092 "Request: Skip line by line scrolling for long scrolls"
### When reporting a bug/issue:
- [x] The FontForge 2019-08aug-01 wine on linux ubuntu LTS (compiling & appimage didint wor)
- [x] The behavior you expect to see, and the actual behavior
- [x] Steps to reproduce the behavior

open a large unicode font files (lots of glyphs)
when scrolling for long distance it can be slow, with large delay between
scroll-input, drawing and display,
e.g. scroll then

[2020-01-08 20:35] Krulvis opened #4093 "Generate character map python png"
I would like to create PNG previews of fonts that display a collection of various glyphs.
Is it possible to generate a character/glyph map that displays selected glyphs into one PNG with equal spacing between each glyph?

I looked through the documentations and saw that you can generate a PNG from a single glyph:
[code]
But it seems redundant to create a PNG for every glyph and then paste them tog

[2020-01-08 22:35] ctrlcctrlv commented on #4092
Running via Wine on Linux is not supported. This bug is invalid, as are any others you find on that installation and fail to verify on a supported installation.

[2020-01-08 22:35] #4092 closed

[2020-01-08 23:02] madeleddy opened #4094 "Error message that .sfd files are "too corrupted to open", even though they were working this morning..."
Has this happened to anyone else before ? I was using FontForge this morning, and when I went to open one of my files this message appeared:

![Capture d’écran 2020-01-08 à 5 58 12 PM](https://user-images.githubusercontent.com/45421653/72023365-8b9f7380-3240-11ea-8b7d-f26af9fa0b28.png)

I tried re-downloading FontForge twice and no luck.

- I'm using OSx 10.15.2 and FF version 20190801

Please l

[2020-01-08 23:05] ctrlcctrlv commented on #4094
We need to see the file

[2020-01-08 23:29] madeleddy commented on #4094
@ctrlcctrlv now it appears that I actually can't open any .sfd files from my Desktop or Documents, i've figured out that i can open them if I place them in a public (in my case, my "Creative Cloud Files") folder.

I get this message whenever I try to open any .sfd file from a local folder:

![Capture d’écran 2020-01-08 à 6 28 12 PM](https://user-images.githubusercontent.com/45421653/72024902-a67

[2020-01-08 23:49] ctrlcctrlv commented on #4094
Duplicate of #4082

[2020-01-08 23:49] #4094 closed

[2020-01-09 03:08] daT4v1s commented on #4092
the slow scrolling also affects linux native build if it works,
but since inaccurate scroll position is probably undesirable,
going back to line-by-line scrolling after rendering catches up to input
or a pause in scrolling is detected

[2020-01-09 04:11] ctrlcctrlv commented on #4092
In that case this is most likely a duplicate of #4063.

[2020-01-09 20:44] cicku commented on #4081
I feel like being insulted to be mentioned in your initial message.

[2020-01-09 23:18] arturrataj opened #4095 "Dies after change weight"
Load the attached font, select the letter, change weight: remove anything in "fuzz", embolden by 9.

[test.zip](https://github.com/fontforge/fontforge/files/4043010/test.zip)

Based on sources from 2019-12-24 15:30 UTC-ML-D-GDK3.
Internal Error (overlap): The end of the monotonic does not match that of the containing spline.
Internal Error (overlap): The end of the monotonic does not match that of

[2020-01-10 03:38] skef commented on #4095
Checking this with Valgrind there are a lot of these:

[code]

So the Expand Stroke part of the algorithm is post-converting to Quadratic, and then (probably) Remove Overlap is using some memory that it freed. (The alternative being that the frees are from a different, earlier run.)

[2020-01-11 00:24] ctrlcctrlv commented on #4081
I'm insulted that you feel insulted 🙄

[2020-01-11 01:42] skef commented on #4093
No, I don't believe there is any such system.

There is of course the metrics view, which can be screenshot. However, that will display the glyphs with spacing and kerning applied rather than evenly spaced. One could of course copy the font, delete any kerning, and reset the spacing however one wanted with a simple python script. That would make the metrics view "behave" as you want.

[2020-01-11 03:04] ctrlcctrlv commented on #4093
Actually, @skef is wrong. There is such a system. I only know because I have dug very deep into FontForge's UI code. (See #3659.) The &laquo;Print&raquo; dialog implements a &ldquo;SplineFontTextArea&rdquo; (`SFTextArea`, sftextfield.c), which can be exported as a PNG.

Write something in the print dialog, right click, &laquo;Save as Image&raquo;.

This is probably also accessible via the scriptin

[2020-01-11 03:04] #4093 closed

[2020-01-11 03:16] skef commented on #4093
@ctrlcctrlv That does avoid the screencap step but doesn't address the spacing issue.

[2020-01-11 03:21] ctrlcctrlv commented on #4093
If you want equal spacing, rasterize one of the outputs of the print function.

[2020-01-11 05:03] JoesCat commented on #4081
@ctrlcctrlv - FYI - https://github.com/fontforge/libuninameslist/issues/4

[2020-01-11 12:11] jtanx commented on #4093
note #2171

[2020-01-12 04:55] JoesCat commented on #4081
Before this discussion devolves into a flame war, I suggest, [write, but don't press "send" right away](https://www.inc.com/magazine/19981101/1026.html), because you'll find that what you want to say now, can be improved further, or probably was not something worth pressing "send" in the first place.

Getting back to the original posting - I notice lately versus a few years back, that there are a

[2020-01-12 05:02] ctrlcctrlv commented on #4081
Even a dozen people is not 56 and represents a substantial improvement

[2020-01-12 05:03] JoesCat commented on #4081
Don't forget churn is a lot lower. :-)

[2020-01-12 14:49] skef commented on #4081
I should clarify that I'm fine with whatever policy the FontForge org (whatever that may be) adopts. I was added informally (I didn't ask) and it seems fair to remove my access on the same basis. I'm just as fine with making no changes.

I will say that, on a practical level, if the (or "a") goal is to have all PRs reviewed it makes sense to give push access to active (and "trusted"?) reviewers an

[2020-01-12 17:13] jorins opened #4096 "Font weight names in Python API?"
I'm working on a build system for a mostly programatically generated font. Included in this process is trying to compile a font file for each weight according to the [MDN](https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#Common_weight_name_mapping).

My code looks like something like this
[code]

This seems to work to an extent. When trying to add the generated .ttf fonts through KDE's

[2020-01-13 00:07] ctrlcctrlv commented on #4096
What about the PostScript name of the font? Are you setting that too? It's important to many systems that that be unique.

Could the OS/2 table and its weights have something to do with it?

I will say that this stuff is extremely platform dependent no matter what you do.

[2020-01-13 03:10] blipvert commented on #4081
I'm fine with limiting access to a core group.  Even when I was very active in the project, I rarely ever pushed my own commits.

[2020-01-13 03:11] frank-trampe commented on #4081
I know that Github keeps adding management features. Is there a way we could just block pushing to master?

[2020-01-13 04:27] JoesCat commented on #4081
Looking at my "settings" for my fontforge-fork, it doesn't appear to differentiate much between push or merge.

I do see that in "branches" the default is "off" for {Allow force pushes - Permit force pushes for all users with push access.} This I think is good for preventing pushing something lower than HEAD into master branch.
There is the option of merging into a non-master branch (call it a sec

[2020-01-13 04:35] ctrlcctrlv commented on #4081
Even if they can only push to HEAD, and not lower than HEAD, they can write contributions with our names, which until recently would not even be differentiated, but now (since GitHub added squash merges to the interface) are differentiated as e.g. "@JoesCat authored and @ctrlcctrlv committed", even if I authored the patch and just put your name on it.

[2020-01-13 04:36] ctrlcctrlv commented on #4081
By the way, I will try to come up with a list of names to be removed, with the understanding that just having a small core of around 5 people has been rejected. I will attempt to get us to around 20 names instead.

[2020-01-13 04:47] JoesCat commented on #4081
That's a good point. Looking through the settings, I also saw in branches -> {Require signed commits, Commits pushed to matching branches must have verified signatures.} which is default off.

This limits merges and pushes to either using the web interface, or if someone knows how to enable signing their own pushes, this as well. Do note that someone that can sign their own commits on a git push c

[2020-01-13 05:59] JoesCat commented on #4081
I agree - 5 would be brutal. A bump-up in activity, cut in spare time, vacations, travel, sick, disagreement, or changes in direction. One or two people move on, and suddenly you've only got 80%, 60%, 40% ability to function effectively.

@skef,

I didn't use a good choice of words saying sync, but I do recall working with someone and finding my git history not matching the repo ... evidently, it

[2020-01-13 09:55] ctrlcctrlv commented on #4081
I recommend @frank-trampe divest the following of access:

1. @cicku&mdash;Some commits in libuninameslist in 2013 do nothing to change my opinion. Easily insulted. Class C.
2. @ahyangyi&mdash;one PR in 2013, hasn't contributed since. Class C.
3. @Alatius&mdash;long time contributor for many years, even helping George Williams. I actually used his detective work from 2010 to open a PR in 2019. Sad

[2020-01-13 17:23] tyoc213 commented on #4083
Thanks for all the info, now I know a little more and maybe latter I will post some links to what IME is.

[2020-01-13 21:00] jorins commented on #4096
I tried adding `font.fontname = f'My Font {weights[weight]}'`, but that didn't change anything. The docs declare both `font.fontname` and `font.fullname` as `PostScript font name`, though `font.fontname` has the added note `Note that in a CID keyed font this will be the name of the current subfont. Use cidfontname for the name of the font as a whole.`

What did work was setting `font.os2_weight =

[2020-01-13 21:04] #4096 closed

[2020-01-14 06:47] dolsup commented on #4081
I partially agree with @ctrlcctrlv as a person in Class T.
I think the people translate fontforge itself don't need to have push access because It seems to the project now uses [crowdin](https://crowdin.com/project/fontforge) for translation contribution.

But, In case of the [website team](https://github.com/orgs/fontforge/teams/website/members), they have access to only 2 repos ([fontforge/desig

[2020-01-14 22:48] tshinnic commented on #4081
The simplest criterion that got most agreement at Wikipedia regarding
admins ageing out of privileges was date of last contribution *as an admin*.
The rationale that worked to justify this was - if you haven't contributed
your attention *at an admin level recently* then you probably aren't
current enough with rules/problems/directions/organization to not be
dangerous.

So after a year of admin ina

[2020-01-15 08:00] lemzwerg commented on #4081
Well, my last commit was 8caf77b in March 2019...  Unfortunately I don't have enough time to invest more time into fontforge.  There are parts that would deserve much more love, for example, the TrueType debugger...

[2020-01-15 08:20] ctrlcctrlv commented on #4081
@lemzwerg I'm so sorry, I didn't realize that you're Werner Lemberg, FreeType developer, has `gnu.org` email, etc. Please disregard, I will take you off the list. We have indeed communicated before, through multiple channels.

[2020-01-15 11:43] xen commented on #4081
I'm ok if you remove my access. I think number of people with admin access should be limited and all who want to participate should send pull requests.

[2020-01-15 15:07] cicku commented on #4081
I'm OK as well.

[2020-01-15 17:55] ahyangyi commented on #4081
@ctrlcctrlv
I had one PR and one even earlier non-PR commit which you missed. (And, a private fork, but it is out of question here...*).

Anyway, I'm OK with removing write access. I would want people to review my PRs even if I somehow retained my write access anyways, so that's very fine.

But leave my membership. I love that badge.

* funny fact about my private fork: it adds some extra safeguar

[2020-01-16 00:05] ctrlcctrlv commented on #4081
(I only considered accepted PRs)

[2020-01-16 08:55] kopeckyf opened #4098 "Automatic inadvertent changes when file is opened"
Opening [Libertinus Serif Italic](https://github.com/alif-type/libertinus/blob/master/sources/LibertinusSerif-Italic.sfd) in FontForge and saving it immediately (CTRL+S) without touching any glyph results in some automatic changes. There are about a dozen of them, here is one example: (Anything between `[-...-]` is removed and replaced by `{+...+}`)

[code]

The font compiles just fine with or wit

[2020-01-16 22:24] frank-trampe commented on #4081
Since there seemed to be widespread consensus, I have started implementing this and have pared the "Owners" group down to me, @davelab6, and @jtanx. It seems to me that the easiest way to implement the team changes is to make a new smaller "Developers Active" group. @ctrlcctrlv, do you have a positive list in your notes?

@ahyangyi, members shall remain members, by the way.

[2020-01-16 22:29] frank-trampe commented on #4081
There is a way to disable force pushes to master. I just did that for this repository. If it does not cause problems, we can roll it out elsewhere.

[2020-01-17 00:44] davelab6 commented on #4081
I'm OK with not being in the Owners group. I nominate @ctrlccrlv to take my
place :)

[2020-01-17 05:18] frank-trampe commented on #4081
@davelab6, too late for that. I already blocked your escape route with a flaming tanker truck.

[2020-01-17 05:25] ctrlcctrlv commented on #4081
This has gotten really awkward for me.

[2020-01-17 13:24] driehuis commented on #3566
@frank-trampe I noticed that the packaging issue reported by @devosb still exists, and this github issue seems to have transmogrified in a compiler issue :-)

Is this optimization issue still blocking the PPA build for bionic? What would be needed to add an epoch "1" into the PPA build for bionic?

Apart from adding the 1: epoch for reasons unknown to me, in bionic the library versions of libgdraw

[2020-01-17 18:06] devosb commented on #3566
I think the 1: epoch was added by Debian when FontForge version 2.0.20140101 was released. The previous version to this was 20120731.b. In Debian, the initial 2 from 2.0.20140101 would be compared to 20120731, and be seen as a smaller, and therefore older release, even though it was the newer release. In Debian packaging, the solution is to add an epoch. And you can see this change in the [history

[2020-01-18 21:21] JoesCat commented on #3566
Hi @driehuis,
There were breaking changes in all libraries.
The unicode library was least affected, but still counted as a major edit. Example:
unicode 20190413 -> 20190801:
[code]
For 20190801, you could edit configure.ac
[code]
Then, you would need to rebuild 20190413 and afterwards, rebuild 20190801
2020???? would require a similar jump.
See if this resolves the problem for you.

[2020-01-19 00:57] driehuis commented on #3566
FontForge installed from the PPA works fine, so there is no functional issue that I'm aware of.

But the packaging for bionic is off, so it won't install unless you're a packaging guru, and even if you are, you cannot install it in such a way that updates in the PPA would be picked up.

@devosb has the correct answers (except that I'd advocate keeping the library names identically numbered to the

[2020-01-19 05:58] skef commented on #4098
The removed content doesn't seem to be in the current version of the file linked to or the version that was current when this was filed. That makes it harder to track down any discrepancy.

In any case the removed values are TrueType "point numbers". Given that these glyphs consist of Cubic Bezier contours I'm not sure why they would have TrueType point numbers -- I don't believe FontForge normall

[2020-01-20 15:11] aimnadze commented on #3982
Yeah, I already got it. But let it behave always the same way. Consider the following scenario:
* Open FontForge
* Open a font
* Select `#` symbol
* Click "Metrics" > "New Metrics Window"
The window opens and there is `#` written in the text field above.
It should probably show `/numbersign` instead.

This causes the confusion.

[2020-01-20 16:34] devosb commented on #3566
Ah, I see that I was not clear. Yes, adjusting the package version (and not the main program version) is what I should have wrote. Thank you for the clarification.

[2020-01-20 17:22] fitojb commented on #3566
The version needs an epoch bump

[2020-01-20 17:55] frank-trampe commented on #3566
@driehuis, we package from this repository. See `Packaging/debian`.

Do we need to change the library names, though? I can't think of any case in which that would be necessary. If one installs FontForge from the PPA, apt shall fetch the matching libraries, and the same would happen fetching from the distribution repositories.

[2020-01-20 22:08] driehuis commented on #3566
@frank-trampe Good point. APT complained about the whole lot, but obviously if the name is different it won't cause a conflict (well, it will if it installs files to the same path, but I haven't checked if it does).

[2020-01-21 02:02] ctrlcctrlv commented on #3982
Thank you @aimnadze for the bug report. The problem seems similar to #4070. I will patch it today.

[2020-01-21 07:11] ctrlcctrlv opened #4099 "048a91e2682c1a8936ae34dbc7bd70291ec05410 crashes on exiting in SplineFontFree"
While patching https://github.com/fontforge/fontforge/issues/3982#issuecomment-576316370 I came across this crash in `Chomsky.sfd`.

I will patch it momentarily.  All you need to do to get this crash is open and close `Chomsky.sfd`

[code]

[2020-01-21 07:33] #4099 closed

[2020-01-21 07:52] #3982 closed

[2020-01-22 13:56] byouki-onna opened #4102 "Problem generating BDF fonts"
Hello. Ive been directed here from the users mailing list.
Im not sure this is actually a bug exactly, since I might just not quite understand the software, but im trying to work with bdf fonts using fontforge, and any font that I generate with the software is mangled, as so:
![2020-01-22-083819_758x500_scrot](https://user-images.githubusercontent.com/26748253/72899398-eaaac100-3cf3-11ea-98c9-d9c1

[2020-01-22 21:32] jtanx commented on #4102
What version of FontForge are you using?

[2020-01-22 23:34] byouki-onna commented on #4102
version 20190801.

[2020-01-23 01:38] ctrlcctrlv commented on #4102
Hello @byouki-onna. I'm the one on the list that told you to open an issue.

As you describe, I opened the font and generated another font. Except, unlike your description, it works fine for me, at least in KFontView.

We need to know what terminal program you are using and how you run it. Do you point it at the BDF file or is `fontconfig` involved as well? You are using 75 DPI, right, which seems

[2020-01-23 02:42] QGB commented on #2751
hi @rorybudnick
i got “Internal Error: assembly tables at wrong place” too
how to solve that

[2020-01-23 02:53] ctrlcctrlv commented on #2751
This is not a valid bug. Of course you are supposed to use @&zwnj;coolwanglu's fork of FontForge with pdf2htmlEX, which, besides, is no longer maintained.

[2020-01-23 02:53] #2751 closed

[2020-01-23 05:15] byouki-onna commented on #4102
I see. I am indeed using 75 dpi.
Until this point I havnt been viewing the fonts on unix, since I thought(wishful thinking maybe) that this wasnt a bug with either unix or plan9 font software, just user error, since the un-touched and mergebdf-ed fonts converted correctly with the bdf2subf utility.(for what its worth, theres nothing like fontconfig involved at any point here.) Feel free to dismiss

[2020-01-23 05:56] frank-trampe commented on #4102
@byouki-onna, we don't mean to be difficult, but it should be easier for us to investigate if you would do the footwork of relating the possible aberrations to the actual expected values via the design intent and [the file format specification](https://www.adobe.com/content/dam/acom/en/devnet/font/pdfs/5005.BDF_Spec.pdf). Ideally, this would reveal one of the following.
* FontForge is emitting bou

[2020-01-23 13:25] ctrlcctrlv commented on #4102
Plan 9 contains its own font format (`subf`) and has system commands to render fonts in that format, and no other format. Plan 9 does not support TrueType or OpenType fonts.

So yes you do need to show that the problem is not the conversion to `subf` because, as demonstrated, FreeType understands FontForge's output fine. I guess a more targeted question is: **Why are the changes FontForge is makin

[2020-01-23 22:12] mjsharpe opened #4104 "recent fontforge for mac os corrupts features"
* Provide a general summary of the issue in the **Title** above.
* Before you open an issue, please check if a similar issue already exists or has been closed before.

### Important
Mark with [x] to select. Leave as [ ] to unselect.

### When reporting a bug/issue:
- [ ] Screenshot
Mac OS 10.14.6 Fontforge 2019-08-01[x ] The FontForge version and the operating system you're using
- [ ] The behavio

[2020-01-23 23:37] skef commented on #4104
@mjsharpe I think the files didn't wind up getting attached. Github is picky about the files it accepts -- our usual workaround for that problem is to place the files together in a `zip` archive and then attach that to the issue. If you've never done that, or just not gone through the process recently, there's a short how-to here: https://www.digitaltrends.com/computing/how-to-make-a-zip-file-on-a

[2020-01-24 13:47] byouki-onna commented on #4102
I do intend to investigate this. Ive been busy the past few days. Apologies.

[2020-01-24 13:53] byouki-onna commented on #4102
Though, for what its worth, plan9 is actively developed to this day and does support TTF fonts secondarily.
And my attempts to use FF's output on plan9 are not 'experiments.' I use the system to do my daily computing wherever Im able to, and want fonts I think look nice.
I didn't think this was a bug at first, but the fact that it works fine with one BDF but not with the same as generated by FF is

[2020-01-24 22:18] byouki-onna commented on #4102
@frank-trampe
Fontforge is most certainly outputting both bounding box files and bitmap data that *do not* correspond to the input file. In fact, not only are the bounding boxes different, the bitmap data is different- padding 0's are stripped from the input file.
Heres an example: character 0x61(97('a')) in the original bdf file, its bounding box and bitmap info:
`
BBX 8 16 0 -2
BITMAP
00
00
00
0

[2020-01-24 22:20] byouki-onna commented on #4102
(this test was done with this input file, not b16.bdf, since this is smaller and easier to test. apologies for not including it in that post.)
[8x16.tar.gz](https://github.com/fontforge/fontforge/files/4110948/8x16.tar.gz)

[2020-01-24 23:43] jtanx commented on #4102
The spec only mentions padding to the nearest byte, so the BITMAP data as generated by FontForge is valid.

It looks like the input keeps a fixed bounding box for all glyphs, and pads the BITMAP data as required, whereas FontForge is recalculating it for all glyphs:

https://github.com/fontforge/fontforge/blob/118ae04228110d4788670c257ec6e1133b1a2849/fontforge/splinefill.c#L730

[2020-01-25 00:00] byouki-onna commented on #4102
I see.
Is there any way for me to prevent it from doing this in the UI?
I just want the font to come out like it went in.

[2020-01-25 00:00] jtanx commented on #4102
No.

[2020-01-25 00:27] jtanx commented on #4102
Clarifying, if you were to comment out `BCCompressBitmap`, and recompile FF, it might be enough to get away with what you want, but the problem is ultimately that whatever conversion tool you're using isn't parsing BDFs properly, and ideally that should be fixed instead.

[2020-01-25 01:07] ctrlcctrlv commented on #4102
Closing.

This by the way is completely wrong:

:roll_eyes:

Yes, if you compile FreeType on Plan 9, and then run a font through `ttf2subf`, you can get a "TTF font in Plan 9", sort of, but of course not really, because Plan 9 only understands `subf` format, and the font you get will not even be scalable.

[2020-01-25 01:07] #4102 closed

[2020-01-25 01:10] byouki-onna commented on #4102
Its not developed by labs anymore. Its still actively developed by the community. I use the most developed distribution.
I was not referring to ttf2subf. I was referring to truetypefs. Which provides actual, real support for true type fonts.
Plan 9 understands the ttf format since 2018.
@jtanx
Your suggestion worked perfectly. Thank you for your help. Im greatly appreciative.

[2020-01-25 01:15] frank-trampe commented on #4102
@byouki-onna, it might be worth filing a bug on the Plan 9 side now that we have specifics on the problem.

[2020-01-25 01:18] byouki-onna commented on #4102
@frank-trampe
In this case itd be fixing the problem myself. Ill most likely look into it, though.

[2020-01-25 01:23] ctrlcctrlv commented on #4102
It is my understanding that `truetypefs` works internally by parsing TTF fonts and outputting `subf` fonts on demand, similar to how the old FreeType hack worked. I could be wrong though, the 9front developers would know for sure.

[2020-01-25 01:26] byouki-onna commented on #4102
Indeed, but the fonts are scaleable. it generates them at a given size on demand.

[2020-01-25 02:00] ctrlcctrlv commented on #4102
That's not my understanding of scalable, but I really think we're just splitting hairs at this point.

[2020-01-25 02:12] byouki-onna commented on #4102
Im not sure what you mean.
The user doesnt generate unifont.ttf.16 to use with truetypefs, or something like that. If you say that your font is /n/ttf/unifont.ttf.24, then start a graphical program, it will ask for that font, and truetypefs looks in /lib/ttf for unifont.ttf, your program will display a size 24 version of unifont. If you say unifont.ttf.16/font, itll display a size 16 verison. Ther

[2020-01-25 02:19] ctrlcctrlv commented on #4102
That's not exactly what I meant. Outside of Plan 9, user programs are expected to parse and rasterize outline fonts. (Which in my opinion is the best way to do it, mind you.) User programs, then, _could_ rasterize the whole font at the size they need and store it all in memory, but that's not how it usually works in practice.

I saw you join #fontforge on Freenode and am happy to discuss it furthe

[2020-01-26 13:08] skef opened #4106 "Chebyshev polynomial support"
Sometime in the not-too-far-future there are some likely projects that will include computations that lack closed-form solutions and have other tricky aspects. This is a wide-open area in the general case, but I've been doing enough reading on some specifics -- including Bezier arc-length reparameterization and elliptical arc length (don't ask) -- to determine that Chebychev polynomial expansions

[2020-01-26 23:33] jtanx commented on #4106
My preference would not be to pull in gsl if we can avoid it, as that definitely would force FF as a whole to be GPL licensed.

Boost is also a bit of a beast to pull in, so I'd prefer not bringing it in without a strong reason to do so.

Are we sure that this absolutely must be done with Chebyshev polynomials / more details on why this specifically is needed?

[2020-01-26 23:50] frank-trampe commented on #4106
I echo that caution about the GPL entrapment and am similarly curious, if you're willing to share at this stage, what adventures you have in mind.

[2020-01-27 00:25] skef commented on #4106
Is there a reason we need to have the "is this worth it" discussion as opposed to just saying that option 1 makes the most sense if and when it comes down to it?

@ctrlcctrlv favors adding something [PowerStroke](https://wiki.inkscape.org/wiki/index.php/PowerStroke)-like (although it would not "live"). This kind of thing, and dashing and so forth, requires robust two-way length support (determinin

[2020-01-27 00:44] ctrlcctrlv commented on #4106
Dashed lines are also required to fully support the SVG standard. https://www.w3.org/TR/svg-strokes/#StrokeDashing

[2020-01-27 01:04] skef commented on #4106
(Actually, when it comes down to it it's most likely I would follow option 2, probably with Boost: Copy the relevant sources into a single file, adapt the code into vanilla C from C++, put a note to that effect at the top leaving a copy of the Boost license (which is certainly permissive enough for this purpose) and a note in the LICENSE.txt file about the code's origin.)

[2020-01-27 01:08] skef commented on #4106
@ctrlcctrlv When it comes down to it FontForge has SVG Import/Export mostly to support moving contours back and forth between tools. While in theory someone could specify a dashed object in Inkscape (or whatever) and expect it to come through to FontForge that way, it's not something we necessarily need to support.

How and whether FontForge ever offers full SVG2-level SVG font support is a differ

[2020-01-27 03:12] ctrlcctrlv commented on #4106
The idea of converting Boost code to C99 sounds optimal to me, and is in keeping with the general policy of vendorization.

[2020-01-27 03:18] ctrlcctrlv opened #4107 "Expand stroke - only outside of path?"
Since we are still discussing improvements to Expand Stroke, this is another Illustrator feature that I wonder about the feasibility of implementing.

![image](https://user-images.githubusercontent.com/838783/73148291-8a05f480-40f6-11ea-91b0-3adc9822ff5a.png)

[Another example](https://community.adobe.com/t5/illustrator/stroke-text-outside/m-p/4528154#M14389)

I forgot to ask @skef this last we ta

[2020-01-27 06:50] skef commented on #4107
This is one of those cases where implementing the feature probably wouldn't be that much work but the existing functionality gets you close enough that it's questionable whether the work and interface would be worth it.

I'm not sure whether this request is about producing the above all at once, or producing separate glyphs with those outlines so that in a multi-layer font they overlap when shaped

[2020-01-27 06:54] skef commented on #4107
BTW an Arcs join is exactly what you want for automating this effect ...

[2020-01-27 07:08] skef commented on #4107
I don't think you could create an SVG font with multiple outlines like in your link because SVG doesn't have layers, just opacity and ordering. The shaper would therefore have no way of sorting out what to show and omit among the overlapping boundaries. I really don't know anything about COLR except that it is layer-based, but that at least means that a COLR font would have the needed information.

[2020-01-27 07:14] ctrlcctrlv commented on #4107
I think that showing multiple glyphs has caused confusion. Please consider "GDSE" to all be one glyph, (let's say, similar to ㎓) and the output to be expected if it's one glyph being stroked.

[2020-01-27 07:21] skef commented on #4107
Everything I said applies the same way.

[2020-01-27 07:35] ctrlcctrlv commented on #4107
OK, so your answer would be, assuming you want to apply a stroke of width 40 to the outside of a glyph, instead apply a stroke of width 40*2+(distance between center of closed shape to its outside), and use arc joins. Right?

[2020-01-27 07:45] ctrlcctrlv opened #4109 "Warning: Left contour did not close"
This bug is under the `skef:arcs` branch but doesn't use arc joins so I doubt that's the problem. Even if it is, @skef should know about it.

![2020-01-27-154310_3589x1750_scrot](https://user-images.githubusercontent.com/838783/73157428-e7f90300-411b-11ea-855b-790c432c2d69.png)

# File: [S2.sfd](https://github.com/fontforge/fontforge/files/4115968/S2.zip)

[2020-01-27 07:55] ctrlcctrlv opened #4110 "Segmentation fault in _GGDKDraw_TransmitSelection"
Follow the steps in #4109, then, keep pressing &laquo;Apply&raquo; until the &laquo;Warnings&raquo; dialog fills to the brim with messages, which in that case should be "Warning: Left contour did not close". Select text in the warnings dialog, which should be scrolled to the bottom, and move your mouse above the dialog, such that you're now selecting text conceptually _above_ the visible text, alo

[2020-01-27 08:10] skef commented on #4107
Sort of -- I'm not sure what the "distance between the center of ..." part is about. We use a diameter to specify a circular nib but it basically draws an offset at r=d/2 on the left of the contour and one at r=d/2 to the right. The offsetting process traces a contour, not the center of a shape.

If you're wondering how to do this with a glyph this itself generated via Expand Stroke you would just

[2020-01-27 08:19] ctrlcctrlv commented on #4110
Do you mind looking at this @jtanx? Am I correct to assume that a negative index is in this case always an error, and that `errdata` itself is incorrectly generated? (That is to say, `errdata->end_l` should not ever be negative, and certainly not -42.)

[2020-01-27 08:20] ctrlcctrlv commented on #4107
Got it, thank you. I think you're right that no new function is necessary. After playing with it for a while I definitely see the benefit of arc joins now, too! Really helps with these large stroke widths.

[2020-01-27 08:20] #4107 closed

[2020-01-27 08:27] jtanx commented on #4110
Yeah there's no way that it should be negative, so first thoughts are it's a bug in the text field widget,

[2020-01-27 08:30] skef commented on #4107
Yeah -- at large radii miters (the usual approach) become pretty obvious.

[2020-01-27 08:37] ctrlcctrlv commented on #4110
I made a video of a related problem that could be the cause. Selecting multiple lines of text from the warnings dialog is essentially impossible.

[4jtanx.zip](https://github.com/fontforge/fontforge/files/4116156/4jtanx.zip)

[2020-01-27 08:42] skef commented on #4109
Ugh. This is another of those floating point cut-off problems. (I have to admit I haven't done a whole lot of 200+ diameter testing.) I should probably add a "max-width" parameter to the `strokecontext` with the max of width and height for a custom nib, and then soften some of the cut-offs by that value/10.

BTW these are easy enough to work around by manually closing the contour and then running

[2020-01-27 11:42] #4110 closed

[2020-01-27 18:35] spiralbit opened #4112 "Question/Feature Request: guideline colours?"
I can create a guideline by clicking and dragging from the rulers, but the lines are solid black.  If you load an existing Adobe font (for example) the guidelines appear as a dotted blue line, which is much more appealing as its different to the black spline lines.  Is it possible to draw dotted blue guidelines?

FF 20190801 on iMac running OSX 10.13.6 and XQuartz 2.7.11.

Thanks,
David.

[2020-01-28 07:53] skef commented on #4112
In FontForge guidelines are (among the) objects in the Guideline Layer, which is common to all the glyphs in the font. I don't think there is a way to pick the colors of guidelines individually but you can pick the color of the whole layer by going to "File -> X Resource Editor -> Outline View 2" and changing the value of  "Guide Layer color".

As far as dashing goes, I don't think that is current

[2020-01-28 07:59] skef commented on #4112
Oh, I only know a little about this but I believe the dashed lines are Blue Values, or blue-value-related. Those are set in "Element -> Font Info -> PS Private". See https://github.com/fontforge/fontforge/wiki/How-TT-Hinting-Works for a bit more info.

[2020-01-28 08:51] ctrlcctrlv commented on #4112
Yeah, for sure the dashed lines are hinting related, not guidelines. And shouldn't be used as guidelines, as it will confuse the rasterizer.

[2020-01-28 08:51] ctrlcctrlv commented on #4112
This is possibly related to #4078, by the way. While working on color fonts there's no reason I can't extend the support to the Guide layer, at least that I can think of.

[2020-01-28 09:02] skef commented on #4112
@ctrlcctrlv Don't COLR fonts have one color per layer? Seems like also supporting within-layer color differences would require a different datastructure.

[2020-01-28 09:08] ctrlcctrlv commented on #4112
You are indeed correct @skef. My understanding of this request is that he wanted to have a single blue guideline. Multiple guidelines of different colors are not within the scope of the COLR/CPAL work.

[2020-01-28 09:34] jtanx opened #4113 "Sphinx Documentation"
So I'm basically going to bite the bullet and convert all the HTML docs under `doc` to Sphinx documentation ( -> convert to reStructuredText).

Raise any thoughts/concerns now, otherwise I'll just do it, assuming I haven't lost interest by the end.

[2020-01-28 09:35] skef commented on #4113
I definitely want to talk about this first. What is the reasoning and what does it buy the project?

[2020-01-28 09:36] ctrlcctrlv commented on #4113
My obvious question is "why not some flavor of Markdown?"

I've had some recent experience with reStructuredText and honestly consider it a pain in the ass compared to Markdown...the syntax is bizarre.

[2020-01-28 09:38] jtanx commented on #4113
* Not a fan of writing docs directly in html
* It means we can move on from the split between the old/new documentation that we currently have.
* Sphinx provides a richer experience, like you can search for stuff, you can cross reference stuff etc. etc.
* Markdown is ok, but you can't do some more complex things in it, so you end up writing html anyway

[2020-01-28 09:39] ctrlcctrlv commented on #4113
It is a problem to need to write HTML to do something complex?

[2020-01-28 09:41] skef commented on #4113
Comment: So I have a lot of experience with Pandoc Markdown. How about we go with that instead?
Meta-comment: Are we just picking a future documentation format based on one preference?
Side-comment: You "can't do some more complex things" with markdown. "Sphinx provides a richer experience." The latter isn't exactly denying that you can't do some more complex things with Sphinx.

[2020-01-28 09:46] ctrlcctrlv opened #4114 "The maximum number of characters openable in the MetricsView from the CharView should be configurable"
Title says it all. I plan to open a PR which fixes this so am just opening this so I can close an issue.

The problem is that charview.c:6713, which calls `MetricsViewCreate`, uses a fixed size buffer (metricsview.c:5185), with the helpful comment "max. chars picked up: 15."

I will make it so that it can be set to 0, which will mean, "never show a character when opened from CharView", and -1, whi

[2020-01-28 09:47] skef commented on #3705
@ctrlcctrlv Can you confirm and close this one and #3590? These both have `SplinePointListSet` in the BT, which was removed for good reason.

[2020-01-28 09:49] skef commented on #3687
This needs to be re-checked against the new stroke code.

[2020-01-28 09:50] jtanx commented on #4113
Depends on how often you have to fall back to HTML I guess. It's just not something I want to bother with if I'm going to do this for a bunch of existing docs.

At this point I'd prefer rst because (correct me if I'm wrong), there's basically one variant. I don't want to deal with 'what flavour of markdown are we using today'. Sphinx supports multiple generation targets, not just html fwiw

Sphinx

[2020-01-28 09:51] ctrlcctrlv commented on #3705
Just did so, very glad I included a video. Following the exact steps in the video, this crash no longer occurs. Closing.

[2020-01-28 09:51] #3705 closed

[2020-01-28 09:52] skef commented on #3654
Closing this as it's not clear how we would work around the table size limits.

[2020-01-28 09:52] #3654 closed

[2020-01-28 09:54] ctrlcctrlv commented on #3590
Unfortunately @skef, although I can confirm #3705 is fixed, this issue still exists in master. Although now it seems a lot less likely to happen in practice, you must undo multiple times.

[code]

[2020-01-28 09:55] ctrlcctrlv commented on #3687
Sorry @skef &mdash; rechecked, still affects me.

[2020-01-28 09:59] skef commented on #3590
It was worth a shot!

[2020-01-28 10:09] skef commented on #4113
There are extended versions of Markdown, like Pandoc's, that have better overall functionality than the one chosen the last time. As you note Sphinx has better support for code documentation, but that's actually a small part of what the current docs do.

I haven't talked about this really, but I also have an abandoned branch with re-worked documentation, although my focus was on trying to form a n

[2020-01-28 10:13] skef commented on #3512
@jtanx did we wind up doing all of this?

[2020-01-28 10:15] jtanx commented on #4113
There's nothing stopping you running the generation tool to get HTML and bundling that as part of the distribution (and kind of in part why I chose this over readthedocs).

I'm open to discussion on the structure of the documentation, but I don't think it's a bad start to do the conversion, culling anything obviously irrelevant now, and then going from there, even if that means we don't immediatel

[2020-01-28 10:16] jtanx commented on #3512
Mostly done, but I guess not fixing the compiler warnings.

[2020-01-28 10:21] skef commented on #3933
I've made a project for the next release (and added this issue, so the link is above). I use the bug triage template and added a bunch of *potential* bugs, most still untriaged.

My list is based on going back through last March or so and picking out those I thought we more likely to get some attention. Because I've gone back through the list multiple times in the past I don't think there are many

[2020-01-28 10:24] skef commented on #3512
The -Wall problems are, in effect, self-documenting. I think we can -- primarily you -- can declare victory. Closing.

[2020-01-28 10:24] #3512 closed

[2020-01-28 10:29] skef commented on #4113
I think one should pick one's documentation system in large part based on whether it can support the needed structure, so I guess I disagree.

I mean, are we imagining the equivalent of a book? Of interlinked "chapters"? Is there going to be hierarchy, and if so how many degrees of hierarchy? (Much of the current documentation has a two-level hierarchical structure.)

[2020-01-28 10:38] ctrlcctrlv commented on #4113
I want to say, that although I consider reStructuredText to be arcane/bizarre, it's not worse than AOLpress output, so I can't really oppose if @jtanx is willing to do the work.

[2020-01-28 10:45] skef commented on #4113
I'm less worried about the input syntax than the flexibility of the output. E.g. here are a few questions just raised by cross-referencing: Suppose a side-bar similar to DesignWithFontforge was desirable. Does the cross-referencing system expose enough info to support that, possibly with extensions/hand-coding? Does the link/target format support support multiple decompositions or does it tie you

[2020-01-28 10:50] jtanx commented on #4113
Have a look at https://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html, I'm pretty sure you can do all of that, I believe you can even do things like link to the documentation of a specific function/method.

[2020-01-28 11:05] skef commented on #4113
That's part of the picture. If there's a "resolution" phase for generating interlinks you might have to compose the input files 1:1 relative to the desired output decomposition.

You've got similar questions with sectioning. [This](https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections) implies that reStructuredText "wants" to be a book. Can you trade headings off and gen

[2020-01-28 11:20] skef commented on #4113
None of this is to say that generating from reStructuredText can't work; I'm saying that the right order of decision making is:

1. Decide what sorts of decompositon(s) and style(s) are required or desirable.
2. Do some tests on fake files to ensure those are possible with the system.
3. Start translating into that system.

[2020-01-28 11:21] spiralbit commented on #4112
Thanks for your reply @skef, but I tried that and it doesn't seem to work - existing and newly created guides are still black.

[2020-01-28 11:26] skef commented on #4112
When I fooled around with the control I had to close the CharView and open it again, but it did work afterward.

Note that X Resource File changes are not "remembered" unless you save and load them from somewhere. See "File -> Preferences -> Generic -> ResourceFile".

If you wind up able to close all your CharViews, open a new one with a guidelayer, and it's still grey-ish even though when you ope

[2020-01-28 11:30] ctrlcctrlv commented on #4112
Honestly, it might not be too much of a problem to use the BlueValues as a type of guideline, so long as you don't generate your font with hints. :man_shrugging:

[2020-01-28 14:02] skef commented on #4113
BTW although I sound grumpy about the initial particulars I would like to help out with the meat and bones of this project. Some of my rewriting would probably be easy to work in (choice of format is irrelevant to that possibility).

I have a script that takes an SFD and a glyph name and generates an SVG with either an embedded or external style, which I used for the diagrams in this: https://rawc

[2020-01-28 14:12] ctrlcctrlv commented on #3933
@skef I don't want to annoy you, but am also really curious about something.

Why, for example #4109, or #3958, but not #3569 (created March 23 2019)? Is #3569 just hopeless? (Heaven forbid! It is a perennial crash I run into.)

Also, if we're calling dibs on the bugs you chose, I'd like to be given the chance to fix #3983. It is a bug I have personally experienced many times, and having just come

[2020-01-28 14:49] skef commented on #3933
All those bugs are just ideas about what might make sense for the next release; the who/when questions are entirely open. You can presumably call dibs by assigning it to yourself (seems like a good convention for these, if maybe a little sketchy more generally). So by all means: grab #3983.

As for the other question -- well, first off, #4109 is "my fault" and the new stroke code should go out as

[2020-01-28 15:06] spiralbit commented on #4112
Thanks @skef, reopening the glyph window showed they were blue.  I'll save the prefs into the resource file.

[2020-01-28 17:49] frank-trampe commented on #2276
Does anybody know whether Apple has fixed the underlying problem? I would like to close this issue.

[2020-01-29 00:08] ctrlcctrlv commented on #2276
This should **_not_** be fixed in favor of the author. I agree with @mskala above. I would like to make another point, not made in 2015.

When using a float type, or even an integer type, provided by a specification, you have **no right at all** to complain about the byte representation of those types. If the byte representation matters, you should always use the string types the spec provides for

[2020-01-29 05:58] ctrlcctrlv commented on #3983
@aimnadze Would you mind trying out my patch (#4116) and giving me your thoughts on my general theory?

If/when it goes through, the docs will read:

[code]

[2020-01-29 13:06] skef commented on #3949
Hmm. This one probably isn't trivial. We can reuse `OtfFeatName` but we'll have to check what older binaries do when they encounter `cvXX` entries.

[2020-01-30 04:09] skef commented on #3848
@frank-trampe I have a suggestion for this that I'll probably turn into a PR sometime tonight. In order to change this with a smaller amount of risk I suggest that we retain the current cut-offs for when one of the values *equals* zero (1e-8 for double and 1e-5 for float), but change the general cut-off to "within" the power of two closest to the values of (1/1024*1024) and (1/1024*64) respectivel

[2020-01-30 05:15] frank-trampe commented on #3848
Fine with me. I don't have a better proposal, and this seems easy enough to test.

[2020-01-30 10:24] jtanx commented on #4113
Not entirely sure you have that level of granularity, but it's not out of this realm if you *really* wanted to do that. If I understand you can write whatever extension you want to make sphinx to do something custom. At the least, I know it supports having section numbering turned on or off.

Anything you see done in Python documentation (which uses sphinx), you can do yourself.

I've only worked

[2020-01-30 10:46] jtanx commented on #4113
If you've named something, you can reference it from wherever without regard to where that other reference lives.

[2020-01-30 12:32] skef commented on #4113
@jtanx maybe I didn't understand the scope of this project. Are you thinking mostly, and perhaps exclusively, about the Python and native scripting pages? Because for just that use I don't have any particular objection to the Sphinx approach, and I don't see any particular reason the API docs have to be "stylistically aligned" with the other docs.

[2020-01-30 18:19] skef commented on #1374
I can reproduce this one.

[2020-01-30 19:41] jtanx commented on #4113
I started with the scripting docs, but I don't see why it can't be adopted for everything else.

[2020-01-31 15:17] JoesCat commented on #3848
If you look at ``` d = a/(1024*1024.) ``` you'll see you have non-consistent results, for example, a=1 or a=2047.
To be more consistent, you can probably use a window several decimal places down, like maybe 1e-5 to allow for rounding errors, example:
[code]

[2020-01-31 15:24] skef commented on #3848
@JoesCat are you indirectly commenting on #4119? I'm not sure where your note fits into the picture.

[2020-01-31 16:53] skef commented on #3807
This doesn't reproduce for me right now unless I'm misinterpreting the instructions.

@jtanx could you try this one out again?

[2020-01-31 16:57] skef commented on #3877
@jtanx is there anything outstanding on this one, as far as you know? If #3914 dealt with the last report it may be done.

[2020-01-31 17:36] skef commented on #3888
Note: One problem is at tottf.c 2469:
[code]
The hmtx value is a uint16 while `sc->width` is an int16, which sets up a clash. Assuming `sc->width` is that way for a reason (other font formats supporting negative widths?) this should probably be
`putshort(at->gi.hmtx, sc->width<0 ? 0 : sc->width);`.

The max wrap-around seems less important and maybe not worth dealing with.

[2020-01-31 21:18] jtanx commented on #3807
Odd, yeah I can't repro this any more.

[2020-01-31 21:18] #3807 closed

[2020-01-31 21:30] #4112 closed

[2020-01-31 21:31] skef commented on #4106
I got my answer for this and now we can cross the bridge if and when we come to it.

[2020-01-31 21:31] #4106 closed

[2020-01-31 21:49] skef commented on #3569
https://github.com/fontforge/fontforge/issues/3569#issuecomment-485204374 :

Interesting. #4064 addressed a similar symptom but that was quadratic-conversion-specific, and was always a control point, while that's clearly a cubic splineset and there's an on-curve point there.

[2020-02-01 00:06] ctrlcctrlv commented on #3888
Other formats do support negative widths but TTF does not, George is correct.

[2020-02-01 03:56] jtanx commented on #4113
The Python docs are more or less [complete](https://fontforgebuilds.sourceforge.io/docs/python/fontforge.html). I'm working off this branch: https://github.com/fontforge/fontforge/compare/master...jtanx:sphinx?expand=1

Let me know if you have any concerns/suggestions on this. Otherwise I'm going to continue with the rest...

[2020-02-01 08:10] skef commented on #4113
I'm not sure how or whether to respond to this. It seems like my going further down this road is likely to just be unproductively annoying. However, it also seems like not saying anything more is equivalent to approval, or at least wipes away what I've already said.

Since the general case was unconvincing I'll start with a particular example. How do you expect to handle the (recurring) figure seq

[2020-02-01 09:28] skef commented on #3888
Slightly more analysis, for the record:

FontForge currently supports int16-valued character widths. That could change but it would require some work. One thing that could buy us is support for another 32K of TTF/OTF character width, whatever that's worth.

Note that if, after the line `glyph2.width = 2 ** 16 - 1` in the description's script you add `print(glyph2.width)` the script prints "-1". Th

[2020-02-01 10:35] jtanx commented on #4113
Thanks for pointing out an example.

There is, in fact semantic support for [figures](https://docutils.sourceforge.io/docs/ref/rst/directives.html#figure). Granted, it's implemented using divs, but I don't think that's a big deal (see also sphinx-doc/sphinx#3526).

Anyway, like I said, if you really wanted to use a figure/figcaption element, there's nothing stopping you from writing an [extension]

[2020-02-01 11:36] #3888 closed

[2020-02-01 11:44] skef commented on #4113
@jtanx my point wasn't about the figure tag specifically, it was about the user-visible semantic of a figure sequence. Which your translation does flatten, so that when sequences are mixed in with other figures there will be no visual distinction.

[2020-02-01 11:53] #4114 closed

[2020-02-01 11:53] jtanx commented on #4113
Hmm, I don't quite follow - can you give an example/diagram of where this becomes an issue?

[2020-02-01 11:54] #3571 closed

[2020-02-01 11:54] #4049 closed

[2020-02-01 11:54] #4050 closed

[2020-02-01 11:58] skef commented on #4113
I guess the main one I'm aware of is on this page: https://fontforge.org/editexample3.html That's three groups of sequential figures with an additional figure or picture (I'm not sure how the "o" is classed).

[2020-02-01 12:12] jtanx commented on #4113
Right, well I guess it sounds like you're after a fluid grid.

[2020-02-01 12:17] skef commented on #4113
My past work in web design has been very ad hoc and I don't know much terminology. Searching around it seem like this would typically be considered a narrower problem than a fluid-grid design, which is usually used at the top level to accommodate different screen dimensions.

There is a screen element here: you'd probably want to size the individual elements appropriately and then have them wrap a

[2020-02-01 12:22] jtanx commented on #4113
I'm pretty confident it's a well-solved problem (e.g. something like [bootstrap](https://getbootstrap.com/docs/4.0/layout/grid/) grids) or [flexbox](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox).

How hard that is to do with sphinx, I don't know. But it's probably possible. Whether or not it's worth it, I don't know.

[2020-02-01 12:30] skef commented on #4113
But that more or less my point. Would you honestly say that it *wouldn't* be worth doing if Sphinx *did* support it out of the box? If not, then the question is raised by the choice of Sphinx, which is presumably driven by a set of things that Sphinx does do well out of the box.

I'm sure there are frameworks for other purposes that don't include a code snippet semantic, and developers who work on

[2020-02-01 12:50] jtanx commented on #4113
Well with the default theme, and at my resolution, it's narrow enough that there's not exactly a whole lot of place to place images side by side. You could of course run with another theme.

![image](https://user-images.githubusercontent.com/5137410/73592146-4888a580-454b-11ea-9a62-e298f494bb6f.png)

But in any case, it seems somewhat misguided to be discarding a framework solely based on this.

I

[2020-02-01 13:11] skef commented on #4113
My proposal, for non-API-related content, is to decide on an design and feature set, implement that in CSS, and adapt the existing HTML to conform to it. This is where we disagree. This has already happened once, in a limited way, for Design with FontForge.

In your favor is your offer to "do the work", but that *already happened*: we have the markdown copies. So really the prospect is:

1. You'll

[2020-02-01 13:15] ctrlcctrlv commented on #4113
Sorry @skef, I definitely cannot support adapting the existing HTML. When I told you Markdown was OK, that was with the expectation that HTML intrusions upon the Markdown would be rare.

I've come around on this issue and now back @jtanx. I did some more work on Kitty which required more exposure to reStructuredText. What once seemed arcane now seems sensible. He's willing to do all the work, I sa

[2020-02-01 13:17] skef commented on #4113
The end point of this effort isn't going to be a bunch of rST extensions, it's going to be close-to-vanilla rST and a declaration of victory.

Anyway, I've said my piece.

[2020-02-01 13:26] ctrlcctrlv commented on #4113
I maintain pfaedit.org, so don't assume when I'll declare victory or not :-)

I have great respect for the existing documentation. In fact, my first exposure to this project's issue tracker was when @davelab6 changed the fontforge.org site, and I registered pfaedit.org in protest, which was George's domain whose registration lapsed. (Yes, I was immature in 2015.)

I'm going to expect fidelity. For

[2020-02-01 13:31] jtanx commented on #4113
I'll rehash why I think keeping/adapting the html isn't a good idea.

* Web standards change all the time, and I don't think anyone here has the motivation to keep it reflective of that.
* rST/markdown read almost like plain text. It's easy to read and write.
* It's easy to screw up HTML syntax when you're hand rolling it. [This](https://github.com/jtanx/random/blob/master/ffrst/tools5.py) was the

[2020-02-01 13:37] frank-trampe commented on #4113
I'd normally say that, absent definitive arguments, we ought to go with whatever the person maintaining the component in question wants to use. But all three parties here are likely ongoing contributors to documentation, so that doesn't really help.

For what it's worth (and not much, since I don't do much on the documentation), I prefer writing markdown but share @skef's concerns that conversion

[2020-02-01 14:41] skef commented on #4113
I'm not going to work on this project. If the format is changed and code work calls for changing the docs in the future I'll edit whatever is current. And as I've indicated I don't want to discuss it further.

The through-line of the introductory portions of the existing documentation is out of date, in that often focuses on issues that are no longer central (like PostScript fonts). It also, on my

[2020-02-01 16:32] skef commented on #3949
A proper fix for this will include the individual option names as well, so it's a larger project than just duplicating the ssXX names. So I'm dropping this from the Q1 2020 project (which is not to say it won't happen at some point).

[2020-02-01 16:34] skef commented on #4104
I'll give reproducing this myself a shot in the next day or two.

[2020-02-01 16:41] skef commented on #4040
There are various encoding improvement and workaround needs, especially some means of organizing unencoded glyphs. However, doing development on copy and paste just to support ordering isn't a good approach.

[2020-02-01 16:41] #4040 closed

[2020-02-01 16:45] skef commented on #3994
I edited the top of the page to point to the CMake instructions.

[2020-02-01 16:45] #3994 closed

[2020-02-01 16:52] JoesCat commented on #3848
I have watch turned-off - didn't see it.

[2020-02-01 16:56] skef opened #4122 "Print many fewer Remove Overlap warnings"
The current Remove Overlap implementation is prone to printing repeated error messages. We should reduce the number, perhaps converting some of them to TRACEs.

[2020-02-01 16:58] skef commented on #3827
There are intermixed issues here: the slow speed of `stderr` on Windows, the various errors that might be printed, and this particular error, which (because of how `SplinePointListIsClockwise()` is implemented) may be emitted repeatedly for groups of scan lines on a given contour.

The Remove Overlap messages are likely different, and we should suppress a lot of those. I've opened #4122 for those.

[2020-02-01 16:59] #3756 closed

[2020-02-01 17:12] skef commented on #3696
@jkolps we'll try to help further if this is still a live issue for you, but otherwise I'll likely close this.

[2020-02-01 17:15] skef commented on #3625
Closing this. Can reopen if the submitter comes back with more info.

[2020-02-01 17:15] #3625 closed

[2020-02-01 17:20] skef commented on #3480
Closing for lack of activity. Can reopen if the submitter comes back with more info.

[2020-02-01 17:20] #3480 closed

[2020-02-01 17:20] #3465 closed

[2020-02-01 17:24] #3456 closed

[2020-02-01 17:30] #3406 closed

[2020-02-01 17:31] #3385 closed

[2020-02-01 17:31] #3384 closed

[2020-02-01 17:32] #3383 closed

[2020-02-01 17:32] #3381 closed

[2020-02-01 17:35] skef commented on #3363
Closing this. Will reopen if there is more feedback from the submitter.

[2020-02-01 17:35] #3363 closed

[2020-02-01 17:36] #3357 closed

[2020-02-01 17:37] #3351 closed

[2020-02-01 17:40] #3308 closed

[2020-02-01 17:40] #3289 closed

[2020-02-01 17:42] skef commented on #3283
I believe the current Windows build is supposed to work around this problem. @jtanx can reopen if that's wrong.

[2020-02-01 17:42] #3283 closed

[2020-02-01 17:43] skef commented on #3281
The build process has changed drastically since this was filed so even if there is still a problem it will be a different problem. Closing this.

[2020-02-01 17:43] #3281 closed

[2020-02-01 17:52] skef commented on #3186
@ctrlcctrlv Did our long discussions about and work on this stuff wind up checked into master? It's been so long I've forgotten if we worked around the legacy concerns.

[2020-02-01 17:52] #3180 closed

[2020-02-01 18:02] tessus commented on #3281
@skef could you please reference the current build instructions then?

[2020-02-01 18:19] skef commented on #3281
First off, mac builds of FontForge are tricky enough that we always recommend using one of the packages we build. This doesn't answer the question, of course, but it's important to acknowledge the difficulty.

*In theory* a Mac OS X version can be built in more or less the normal way with CMake and ninja, when those and the other dependencies are installed via Homebrew or other means. See the main

[2020-02-01 18:21] skef commented on #3281
The problem with a "general" set of Mac OS instructions is that different users prefer different frameworks and many of them just have problems or the FontForge folks have no experience with them. For our builds we've had to carefully pick and choose the environment to build in.

[2020-02-01 18:37] JoesCat commented on #3569
I was taking a closer look at libspiro to loop a,h (and also to see about resolving tests 10 and 11), and it appears there is a long standing bug since 2007.
As @ctrlcctrlv mentioned elsewhere, he couldn't start a spiro with V, and you can see this if you run libspiro/tests/call-test0 which start with V and ends in Z.
[code]
I've held-off on releasing the bugfixed libspiro because it can use an im

[2020-02-01 22:29] tessus commented on #3281
A while back I updated the MacPorts package for fontforge. But even when following the same steps as in the Travis CI pipeline, I was not able to get it to work. Of course I had to change a few scripts since they were exclusively for Travis, but still no luck. So I removed the GUI part from the port completely.
I hoped that I could add it back, so that the fontforge GUI app would be available via

[2020-02-01 22:47] jtanx commented on #3283
Yeah this shouldn't be an issue for gdk builds.

[2020-02-01 23:02] jtanx commented on #4113
For me, I see the scope of this change as a conversion of what's there, and less about trying to restructure the whole thing at the same time. If there's anything obviously irrelevant now I'll drop it, and if I see quick wins I'll probably do it, but I don't want to conflate the issue.

[2020-02-01 23:14] skef commented on #3281
The build process isn't one of my areas of expertise, unfortunately, but I know the Mac stuff is hampered by the low level of GDK support on that platform. (Even so, GDK seems to have wound up being an improvement over X11.)

All I can say is that if "a while back" was before the CMake switch I suggest trying again, as @jtanx has really improved things in that switch. If it wasn't I don't have any

[2020-02-01 23:49] jtanx commented on #3281
I'd suggest using homebrew, not macports. I finally got a somewhat working Catalina VM, so I'll try to get some steps listed.

[2020-02-02 00:49] tessus commented on #3281
I think you didn't get my point. I don't use brew, neither do a lot of other people who prefer MacPorts over homebrew.

[2020-02-02 00:56] jtanx commented on #3281
There's unfortunately only so much time in the day, and I don't even have a proper macos environment to test this on.

Last I tried, it was pretty simple to get it compiling with homebrew. So if you choose to use macports, then complain that

Then that's your prerogative.

In any case, as mentioned, the build system has changed a lot since when this ticket was raised, so maybe it's worth a shot to

[2020-02-02 01:46] jtanx commented on #3281
For reference, from a fresh Catalina install, the [build steps](https://github.com/fontforge/fontforge/wiki/CMake-guide-for-FontForge#quickstart) just worked, after dealing with the homebrew cruft.

[code]

[2020-02-02 02:25] jtanx commented on #3877
Without more info on how to repro that gsub editing crash there's not much I can do.

As always, try using the latest app bundle from http://dl.bintray.com/fontforge/fontforge/ and reopen it's still an issue.

[2020-02-02 02:25] #3877 closed

[2020-02-02 07:58] skef commented on #3227
This one would be easy to fix in this specific form (passing an empty string to `PSCharStringToSplines()` but much harder to fix generally. The code pokes around in the passed string via pointer based on values in the string -- if it's nonsense all the pokes have to be changed to reference its length. So for now I'm just leaving this here.

[2020-02-02 08:03] skef commented on #3595
Just tried this, it's not resolved -- you still get the crash.

[2020-02-02 08:16] skef commented on #3228
This doesn't reproduce with the current master, perhaps because of incremental error checking work -- hard to say. Closing.

[2020-02-02 08:16] #3228 closed

[2020-02-02 08:34] skef commented on #3085
*sigh*

[2020-02-02 08:44] jtanx commented on #4082
I'm not sure if it's because I have developer tools installed or something, but this does not happen for me. I've tried out the 20190801 release, and apart from the usual 'this file was downloaded from the internet' warning, I can access all those locations just fine.

![image](https://user-images.githubusercontent.com/5137410/73605587-31ea5900-45f4-11ea-8c91-d58633c8630f.png)

This is in macos ca

[2020-02-02 09:04] jtanx commented on #3609
Original issue is fixed (in latest master builds).

[2020-02-02 09:04] #3609 closed

[2020-02-02 09:06] #2722 closed

[2020-02-02 09:07] #2797 closed

[2020-02-02 09:08] jtanx commented on #2799
See #3592

[2020-02-02 09:08] #2799 closed

[2020-02-02 09:09] #2652 closed

[2020-02-02 09:09] jtanx commented on #2499
Try with latest, if still an issue, reopen and provide details to repro.

[2020-02-02 09:09] #2499 closed

[2020-02-02 09:10] #2398 closed

[2020-02-02 09:10] #2356 closed

[2020-02-02 09:13] skef commented on #2601
The general case of this issue is a major and pervasive problem. FontForge will decide that one cubic spline control point doesn't exist while leaving the other one, and then use that decision in subsequent translations.

Before we fix these we should decide on a convention, preferably one without redundant info like the current one.

[2020-02-02 09:18] jtanx commented on #2892
sample file no longer exists.

[2020-02-02 09:18] #2892 closed

[2020-02-02 09:21] #1826 closed

[2020-02-02 09:33] skef opened #4125 "Rethink nonextcp/noprevcp for cubic splines"
#2601 is an example of a more pervasive problem: FontForge doesn't systematically address the problem of a missing cubic spline control point. There are many cases where FF will let you just eliminate one CP and then produce poor output downstream.

A cubic spline with two missing (or, equivalently, on-curve-point-colocated) control points is a line, and is fine. It should be output in point form

[2020-02-02 10:02] #3008 closed

[2020-02-02 10:02] #3208 closed

[2020-02-02 10:02] #3209 closed

[2020-02-02 10:47] skef commented on #2122
With #4126 merged this import triggers an assertion when compiled with debug and some errors and a "I'm sorry this file is too complex for me to understand (or is erroneous)" message. Editing the stroke width up there is a point where you get a tiny blob (around 1e-1) and around .5 you start getting a stroked line.

We could put more checks and workarounds in, like pre-scaling the source to make g

[2020-02-02 10:47] #2122 closed

[2020-02-02 11:46] mojca commented on #3281
Just to clarify: do these build steps also work out of the box also for the August 2019 release or just for the master branch?

[2020-02-02 12:09] ctrlcctrlv commented on #3281
Why not try it and find out? Not much point compiling if you're going to be compiling a release. We're close to another one of those anyway.

[2020-02-02 12:18] mojca commented on #3281
@tessus: I tried compiling the master branch and it worked flawlessly out of the box, light-years better experience than trying to get it to compile years ago with the `./configure` script. I have `gtk3 +x11` installed at the moment, but I'm highly confident it would probably work with `gtk3 +quartz` (which is what one would probably want). There are still minor things that need fixing, like creat

[2020-02-02 12:22] mojca commented on #3281
To answer my own question: there's no `CMakeLists.txt` in the released version, so no point trying to wake the dead horse :)

[2020-02-02 13:21] mojca commented on #3281
The only thing that doesn't quite work out of the box is the `macbundle` target. That is: I would like to build fontforge "our own way", avoid third-party app bundling scripts, and only use the provided resources to package everything inside the app, with dependencies remaining inside the global prefix (for example, libpng should not be copied to the app). Such app would of course not be standalon

[2020-02-02 13:25] skef commented on #3281
It's likely clear from this thread that we've picked our Mac battles, but if you wind up designing a target that does what you need and isn't too baroque I expect we would accept the PR. Various distros have had bits and pieces of support scripts and such in our repo over time.

[2020-02-02 16:26] skef commented on #3197
Duplicate of #147

[2020-02-02 16:26] #3197 closed

[2020-02-02 16:27] skef commented on #149
We're probably not going to expose shadow, outline, inline etc. via python. Closing

[2020-02-02 16:27] #149 closed

[2020-02-02 16:33] skef commented on #252
We have Mac OS suggestions sprinkled throughout the issue database. Closing this meta-issue.

[2020-02-02 16:33] #252 closed

[2020-02-02 16:36] skef commented on #272
This is included in our current CMake Wiki Doc.

[2020-02-02 16:36] #272 closed

[2020-02-02 16:41] skef commented on #354
This doesn't reproduce for me at present, closing.

[2020-02-02 16:41] #354 closed

[2020-02-02 16:53] skef commented on #533
The feature was implemented as described (I didn't even know FF did this), and the case for further configuration possibilities seems ambiguous at best. Closing.

[2020-02-02 16:53] #533 closed

[2020-02-02 16:58] skef commented on #456
Duplicate of #533

[2020-02-02 16:58] #456 closed

[2020-02-02 17:08] skef commented on #4077
Since I'm going through issues, from 2013 (@JoesCat): https://github.com/fontforge/fontforge/issues/567#issuecomment-17762784

@davelab6 commented shortly after this explanation with no objection.

[2020-02-02 17:08] #567 closed

[2020-02-02 17:19] skef commented on #917
No evidence of outstanding issue: Can reopen if needed.

[2020-02-02 17:19] #917 closed

[2020-02-02 17:21] skef commented on #848
This was a long time and many FF/pango versions ago. Reopen if necessary.

[2020-02-02 17:21] #848 closed

[2020-02-02 17:26] skef commented on #1944
Lots of changes that may have affected this on Mac OS since it was filed, so closing. Update with a comment if it should be reopened.

[2020-02-02 17:26] #1944 closed

[2020-02-02 17:28] skef commented on #1469
This was mostly done and is now almost entirely superseded. Closing.

[2020-02-02 17:28] #1469 closed

[2020-02-02 17:30] skef commented on #2567
This is an old "want to help" issue. As a general principle FontForge likes and appreciates help. Always feel free to get back in touch -- but closing this issue for now.

[2020-02-02 17:30] #2567 closed

[2020-02-02 17:32] skef commented on #1307
Enough change has happened to make it likely this is irrelevant now.

[2020-02-02 17:32] #1307 closed

[2020-02-02 17:37] skef commented on #1479
Closing.

[2020-02-02 17:37] #1479 closed

[2020-02-02 17:40] skef commented on #1474
This issue seems to have represented #1374 for 4.5 or so years. That issue isn't solved but at this point it can represent itself -- closing.

[2020-02-02 17:40] #1474 closed

[2020-02-02 17:48] skef commented on #1770
Most of these two-monitor problems seem to be solved by the gdk implementation.

[2020-02-02 17:48] #1770 closed

[2020-02-02 17:50] skef commented on #1731
We're gradually encouraging the shift to python 3 (and may or may not drop python 2). There are no outstanding python 3 issues I'm aware of for this issue to represent, however. Closing.

[2020-02-02 17:50] #1731 closed

[2020-02-02 17:52] skef commented on #1930
Asan support is now documented in the CMake wiki page.

[2020-02-02 17:52] #1930 closed

[2020-02-02 17:55] skef commented on #3027
Since you're "around" @mojca -- should we leave this issue open?

[2020-02-02 18:12] skef commented on #2089
Fixed by #4079

[2020-02-02 18:12] #2089 closed

[2020-02-02 18:26] skef commented on #2335
Dead project.

[2020-02-02 18:26] #2335 closed

[2020-02-02 18:28] skef commented on #2282
Old distro-specific bug -- will reopen if needed.

[2020-02-02 18:28] #2282 closed

[2020-02-02 18:29] skef commented on #2278
At least one other issue is filed on this.

[2020-02-02 18:29] #2278 closed

[2020-02-02 18:29] #2259 closed

[2020-02-02 18:48] skef commented on #2482
The usual "can't copy" problem is that the copy function only works reliably if you open both fonts from the same running fontforge. So, for example, opening one file however you like and then opening the second file with "File -> Open". When opened that way, copying between fonts generally works.

[2020-02-02 18:48] #2482 closed

[2020-02-02 18:48] skef commented on #2475
We would need a sample file to evaluate this.

[2020-02-02 18:52] mojca commented on #3027
Meanwhile the full suite for which I needed this and on which I run CI on regular basis compiles even on Sparc Solaris 10, but it uses a somewhat stripped-down version of fontforge (and potentially not updated since a very long time), so it's not a super reliable reference.

I checked the source code and the original lines which I had to patch are no longer there either.

The warning about FILE_OF

[2020-02-02 18:52] #2531 closed

[2020-02-02 18:56] skef commented on #2592
These were removed in #4118 .

[2020-02-02 18:56] #2592 closed

[2020-02-02 19:00] skef commented on #3027
In that case let's close this one; we can always revisit if needed.

[2020-02-02 19:00] #3027 closed

[2020-02-02 19:02] skef commented on #2448
"I'll tell you were I put my small caps!"

This issue seems more or less closed-out to me, closing.

[2020-02-02 19:02] #2448 closed

[2020-02-02 19:07] #2766 closed

[2020-02-02 19:07] #2764 closed

[2020-02-02 19:12] #2863 closed

[2020-02-02 19:17] #2948 closed

[2020-02-02 19:28] #3063 closed

[2020-02-02 19:30] skef commented on #3034
Closing for lack of activity.

[2020-02-02 19:30] #3034 closed

[2020-02-02 21:00] #4056 closed

[2020-02-02 21:01] #3487 closed

[2020-02-02 21:03] #2043 closed

[2020-02-02 21:04] #1981 closed

[2020-02-02 22:16] #2086 closed

[2020-02-02 22:18] #4109 closed

[2020-02-03 00:26] skef commented on #3095
This no longer reproduces, probably because of recent fixes to the same function.

[2020-02-03 00:26] #3095 closed

[2020-02-03 00:40] skef commented on #2979
To summarize: The SVGs were likely created with cubic beziers and the TTF output format required quadratic beziers. Switching to an OTF/cubic output preserved the original points.

[2020-02-03 00:40] #2979 closed

[2020-02-03 00:41] #2971 closed

[2020-02-03 00:44] skef commented on #2736
The install instructions were reworked and simplified.

[2020-02-03 00:44] #2736 closed

[2020-02-03 00:46] skef commented on #2734
Dead project

[2020-02-03 00:46] #2734 closed

[2020-02-03 00:56] skef commented on #2552
This doesn't crash anymore, and does update the lowercase characters when it runs. The fix was probably part of the early-mid 2019 python work.

[2020-02-03 00:56] #2552 closed

[2020-02-03 04:56] #3848 closed

[2020-02-03 11:40] skef opened #4131 "Move Python `font.genericGlyphChange` description to `selection` sub-section"
There are a few open issues referencing the lack of a Python interface for "Change Glyph". These stem from:

1. The somewhat different name (`genericGlyphChange`) of the python method (which traces to the C function names)
2. The lack of a glyph-level equivalent
3. The fact that `genericGlyphChange()` is documented in the wrong section of `python.html`. It is, sensibly, a selection-based interface

[2020-02-03 11:59] skef commented on #4131
I guess the move would also be a good time to do something about problem 1, which can be as simple as mentioning something about "Change Weight" somewhere in column 1 or 3 (or their equivalents).

[2020-02-03 19:02] skef commented on #3699
The cause of this problem is a corrupted SplineSet that starts in a way that implies it is closed. However, instead of a loop it leads into a point linked forward and backward to itself. It would be very time-consuming to protect every SplineSet routine from such corruption, and more productive to track down what is corrupting the set, which starts out as fairly ordinary open contour.

[2020-02-03 20:44] davelab6 commented on #2734
Are you saying the current menu structure is ideal, and the menu structure
here was inferior?

I think the current menu structure is poor, and can be improved; however,
to help users who are familiar with the current structure and want to
control their migration to a better structure, perhaps postponing it
forever, it seems to me that making the structure runtime configurable is
desirable.

[2020-02-03 21:07] skef commented on #2734
@davelab6 The work described in various menu unification issues was completed, the PR was #3638. I did the last bits in April because the issues hadn't been updated with the additional requirements and I thought I was helping.

I said it was "dead", rather than "done", because there are no current plans to implement those additional requirements. That could of course change. But either way the mil

[2020-02-03 21:34] skef commented on #2734
I guess to clarify:

1. No, I don't think the current menu structure is ideal
2. For various reasons I won't go into (but mostly having to do with the enabling code) the 2016,2019 project and a project to allow menus to be configurable have very little overlap of implementation. A few bits and pieces could be moved forward from the #3638 branch, but that's it. It's a different project that will ne

[2020-02-04 00:43] RicoElectrico commented on #3238
Oh God. I just came here googling "fontforge rasterizing a font" to see if it'd be any good to turn open source fonts into bitmaps with a little bit of manual help (to use it in Arduino projects like  [u8g2](https://github.com/olikraus/u8g2) ).

I regret wasting 2 minutes of my life on autistic rants in this thread.

[2020-02-04 02:14] ctrlcctrlv commented on #3238
@RicoElectrico I regret wasting even five seconds reading your inane comment.

[2020-02-04 02:21] ctrlcctrlv commented on #3238
(Closing as questions belong on the ML and this thread, even years later, remains troll bait. Anyway, the correct thing to do here is to make a BDF font. FreeType can help you get somewhat acceptable rasters out of outline fonts with hinting. FontForge can convert BDF to a TrueType font with bitmap strikes if that's what you need.)

[2020-02-04 02:21] #3238 closed

[2020-02-04 21:42] janpe2 opened #4132 "Cancel button produces an empty kerning class"
1. Open a font that has a class-based kerning.
1. Metrics > Kerning by Classes and edit a subtable.
1. Click the down arrow in any class.
1. The dialog allows to select glyphs for the class.
1. Press Cancel in the glyph select dialog.
1. All glyphs disappear in the selected class.

The expected behavior would be that the contents of the class remain unchanged when Cancel is clicked.

FontForge ver

[2020-02-04 23:26] skef commented on #4131
Once #4133 is integrated the docs section should be copied to the glyph object. (Or, better, the glyph doc should have a subset of the info and refer to the selection entry, or vice versa, as with the various incarnations of `stroke`.)

[2020-02-05 00:58] ctrlcctrlv commented on #4132
Confirmed. The same bug occurs if you close the window. The bug does not occur if you edit the text of the kerning class. The only way to retain the class at all seems to be to click "OK", which is not much help to users if they've changed it.

[2020-02-06 00:25] skef commented on #555
Old bug without needed info. Will reopen if needed.

[2020-02-06 00:25] #555 closed

[2020-02-06 00:29] skef commented on #555
(After a bit of google searching:) No offense meant.

[2020-02-06 01:38] skef commented on #1713
This may not be a completely satisfying answer but as of Python 3.7 (so March 2018 or so) iterators over standard Python dictionaries return values in insertion order. So this is probably no longer an issue in most of our installations (after the switch to python 3-as-default) and should gradually disappear without intervention.

[2020-02-06 01:46] ctrlcctrlv commented on #1713
Cool, that answer works for me. Bug closed as fixed in Python.

[2020-02-06 01:46] #1713 closed

[2020-02-06 01:50] #716 closed

[2020-02-06 02:09] skef commented on #2170
This is a distro-specific problem with an old release. Most distro questions are beyond the project's control but not all. In any case I'm closing this for now; can reopen if needed.

[2020-02-06 02:09] #2170 closed

[2020-02-06 02:25] skef commented on #2346
If you look at the contour carefully you'll notice that it is (ignoring the self-overlap) effectively counterclockwise. That's going to have a weird effect when used in isolation with Change Weight.

With the new Expand Stroke code and a clockwise(ish) contour things work more or less as expected, except for some leftover triangle contours when decreasing weight. Given the remove-overlap-in-advanc

[2020-02-06 02:25] #2346 closed

[2020-02-06 04:07] ctrlcctrlv commented on #703
I have been commissioned to do this in IRC and will be submitting a PR shortly.

[2020-02-06 04:08] ctrlcctrlv commented on #703
This is an extension of my work on User Decompositions. Build Accented Character (BAC) can build precombined characters. However, it doesn't place anchors on the base glyph. Perhaps that's mostly expected, but BAC often generates very good results, which are generalizable, and could be used to great effect for `mark` table.

I will add a UI for this in "Add Anchor", basically just named "Guess". T

[2020-02-06 04:12] #2925 closed

[2020-02-06 04:25] #3432 closed

[2020-02-06 04:58] #2348 closed

[2020-02-06 08:37] davelab6 commented on #2734
I'm curious if you or anyone here is interested in improving it further :)

Oh! I didn't appreciate this. Thanks for pointing this out

Totally fair :)

[2020-02-06 20:52] skef commented on #2580
One could consider documentation clarification based on the original subject of this issue, but for the most part the FF aspects are resolved. Closing.

[2020-02-06 20:52] #2580 closed

[2020-02-06 20:54] skef commented on #2578
This appears to be a tool interaction problem beyond FF's scope. Closing.

[2020-02-06 20:54] #2578 closed

[2020-02-06 23:23] skef commented on #4122
After thinking about this I've decided that it makes more sense to address it in the context of something like #793 than individually for this upcoming release.

It is a problem, though -- many of the contour sets produced by the Expand Stroke system produce a large number of messages on their way to being processed just fine. `-quiet` and `-verbose` are good to have but for the normal case there

[2020-02-07 07:24] ctrlcctrlv commented on #4081
I consider the issue now solved, and security around the master branch much improved. Thanks all.

[2020-02-07 07:24] #4081 closed

[2020-02-07 10:46] jtanx commented on #3933
Something not to forget before cutting is to pull in new translations from crowdin.

[2020-02-07 11:23] ultrasquid commented on #703
I'm very happy to hear you are attending to this idea.

On Wed, Feb 5, 2020 at 8:08 PM Fredrick Brennan <notifications@github.com>
wrote:

--
--
Jason Pagura
zimbach at gmail dot com

[2020-02-07 19:36] skef commented on #2911
I believe this was dealt with in #3931.

[2020-02-07 19:36] #2911 closed

[2020-02-07 20:02] skef commented on #2421
The style for the path in this file is:

[code]
If you remove the "stroke:#231f20" the file imports fine. The "hang" is really a delay due to the huge number of points the import process adds when that "stroke" specification is present.

I suspect that the svg import process is attempting some sort of shading. We should probably just disable that for outline import, which is really just for contou

[2020-02-07 23:32] ctrlcctrlv commented on #3983
Closing as no reply and I think my solution, recently merged, is sufficient.

[2020-02-07 23:32] #3983 closed

[2020-02-08 00:07] skef commented on #2504
When you `validate()` the font via the python interface the state will indicate whether any glyphs have open contours (bit `0x2`). You can then go through the cached `validation_state` of the individual glyphs to look for the individual glyphs, and then the contours of that glyph.

That's probably as integrated with the validation system as the python interface is likely to be for the time being.

[2020-02-08 00:07] #2504 closed

[2020-02-09 07:29] #4073 closed

[2020-02-09 07:48] skef commented on #3933
There is one subtle, rarely occurring problem I've run into with rectangular nibs in the current Expand Stroke implementation. It shows up as an assert when I expand all of LibertinusSerif-Regular but probably as a sub-standard output contour in the release code. It's a weird corner case I haven't been able to track down yet; something having to do with the very specific geometry of a particular s

[2020-02-09 07:52] ctrlcctrlv commented on #3933
I plan to implement #703 as the first `contrib` script @skef. Thus, #4143. That is, if you give me the honor. :-P

I think part of the reason we have no contrib scripts is we have no contrib scripts. (Incredibly meta.) So having one will open a door, I think. And #703 is as valid an issue to implement via a contrib script as any.

[2020-02-09 07:59] skef commented on #3933
Remember that the argument over the narrow understanding of "contrib" versus the wider potential for scripted content wasn't settled but was leaning towards a high bar for the former. Still, I don't see why a solution to #703 wouldn't meet that bar.

[2020-02-09 09:29] ctrlcctrlv commented on #2155
No longer valid with GDK version of FontForge, X11 is deprecated.

[2020-02-09 09:29] #2155 closed

[2020-02-09 09:30] ctrlcctrlv commented on #1934
Superseded by #3800.

[2020-02-09 09:30] #1934 closed

[2020-02-09 09:31] #1640 closed

[2020-02-09 09:33] ctrlcctrlv opened #4145 "Open Font dialog doesn't appear in taskbar"
Only the splash screen window does (if enabled). This makes it difficult to get the window back on KDE, especially if the splash screen disappears before you open a font, and you tab away from the window. I have a fix for this, this is a tracking issue.

[2020-02-09 14:09] anasram commented on #2475
Check character: ⚫ `U+26AB MEDIUM BLACK CIRCLE` in [RichStyle font](https://richstyle.org/themes/richstyle/fonts/RichStyle/RichStyle.ttf).

Source files are [here](https://richstyle.org/downloads/src/fonts-richstyle_0.4.tar).

[2020-02-09 19:16] skef commented on #2475
Although there are some unusual SVGs in this collection, some of which appear to need encouragement to output as proper contours, the sun SVG is very "vanilla" -- it doesn't have any SVG strokes, just normal closed paths.

So this problem was likely due to a problem with the FontView-level rasterizer. I'm not seeing it currently with my GDK-linux compiled version:

![sun](https://user-images.githu

[2020-02-09 22:21] skef opened #4147 "Python-based UI interface improvements"
It seems like the project may be on the cusp of making more regular use of python scripts and potential user contributions. So I think I'll look into extending the interactive aspects of the scripting interface a bit more, in some ways we've already discussed in past issues and in other ways that are new (and easier). Here is a list:

1. [ ] Do the discovery thing discussed in #3663 so that you ca

[2020-02-09 22:22] skef commented on #4147
@frank-trampe @jtanx @ctrlcctrlv @linusromer Are there other low-to-medium hanging fruit?

[2020-02-09 22:43] skef commented on #4147
Maybe the top-level of the "Tools" menu should have a different ordering. Right now it and it sub-menus are in "first-registered first" order. That makes sense if you expect the scripts to all be written by the end-user, or a combination of a small number of curated scripts (like the old `contrib`) and the user content. It makes less sense if there is discovery.

Alphabetical could be clunky but c

[2020-02-09 22:44] skef commented on #4147
@davelab6 Do you have any thoughts on this?

[2020-02-10 07:13] #4145 closed

[2020-02-10 07:53] skef opened #4148 "Configurable menu design issues"
If we're going to eventually have configurable menus we should think a bit about how `registerMenuItem()`, hotkeys, and configurability will all interact.

Setting hotkeys aside for the moment the problem boils down to this: When someone is laying out a menu what is the token that represents a particular item? For menu items built into fontforge this can be whatever we want it to be as long as som

[2020-02-10 12:24] ctrlcctrlv opened #4149 "Impossible to access font via glyph in Python menu callback"
Title says it all. This is a tracking issue. I've already fixed this issue and a PR is on its way.

[2020-02-10 16:33] #4095 closed

[2020-02-10 18:48] skef commented on #4147
I filed #4148 to track the problem of and a potential solution for allowing user-contributed scripts to participate in a future configurable menu project.

Given that change my inclination is to punt on any short-term half measure. So: top-level Tools menu items continue to be added in "discovery order". If our efforts are very successful this could create a mess, but it will be a fixable mess and

[2020-02-10 18:54] frank-trampe commented on #4147
That status quo is okay, of course. But, so long as we do so carefully (non-spuriously), I think that it would be fine to try and to iterate other halfway solutions as seem appropriate.

[2020-02-10 19:02] skef commented on #4147
@frank-trampe I don't disagree, I just didn't come up with a good halfway solution that fits into the timeframe. Most solutions would require some kind of UI and gdraw makes new UI stuff very time-consuming.

An alphabetic solution doesn't really help for discovery because the user has no control. In the shared contrib dir we determine the order by picking filenames. In the user's they can influen

[2020-02-10 19:19] skef commented on #2523
[code]

Reading through this it seems like everything is either resolved or hangs on this problem. Will reopen if needed.

[2020-02-10 19:19] #2523 closed

[2020-02-10 19:28] skef commented on #2421
With the `stroke` parameter you wind up with (at least) an order of magnitude more points than otherwise. Cairo's trouble understandably stems from that large number.

Frustratingly I haven't managed to isolate the code adding those points. Presumably it's some sort of cross-hatching or other shade-simulating pattern. Profiling doesn't help -- apparently creating the points doesn't take much effor

[2020-02-11 00:16] ctrlcctrlv commented on #2421
Maybe it would help to try a simpler test case, so the output might have a chance of not freezing FontForge? You could confirm your theory. I might try this later, but you've probably already thought of it.

[2020-02-11 01:04] skef commented on #2421
It's a good point -- with a small enough test case one could step through the creation process.

[2020-02-11 03:35] #4149 closed

[2020-02-11 06:49] ctrlcctrlv opened #4151 "layer.boundingBox() ignores references (Python)"
There's no good reason I can think of why this should happen.

The docs clearly state:

"Into which the layer fits" being the operative clause here.

By the way, this whole "will often be" cop-out makes no sense either and should be removed, both on the layer and contour levels.

Another blocker on #703. I will be fixing this one too....

[2020-02-11 07:05] skef commented on #4151
I don't think this can be fixed reliably. A layer doesn't have any information about the glyph that contains it, and it may not be part of any glyph.

In your shoes I would add an optional parameter to `glyph.boundingBox` to restrict the output to a given layer, which then calls `SplineCharLayerFindBounds()` directly.

[2020-02-11 07:09] ctrlcctrlv commented on #4151
The references should be part of the PyFF_Layer object...I can see that they aren't...PyFF_RefArray somehow works? Or something...it's returned by PyFF_Glyph_get_layerrefs...

Either way, references are part of layers, not part of glyphs, so... :disappointed:

[2020-02-11 07:13] skef commented on #4151
One could quibble about the API choices on a number of levels, but I think it's simplest to accept that the term `layer` in the python interface, when referring to the object type, is a misnomer. "contourSet" would be more accurate. Accepting the name problem makes the issues a lot more clear.

References are still represented as per-layer, just not per `layer`.

[2020-02-11 07:13] ctrlcctrlv commented on #4151
By the way @skef, I haven't worn shoes since I was 14 years old. :joy_cat:

At some point you ask, "who am I kidding?"

I get weirdly judgy when I see other people with my condition (& subtype) wearing shoes. Like, it's never going to look like I'm just a regular dwarf who happens to be sitting down. I think it's weird to have shoes that last 20 years.

Yes I realize that was an expression but jus

[2020-02-11 07:14] ctrlcctrlv commented on #4151
OK I understand I'll do it your way. Thanks for the advice, and the quick reply.

[2020-02-11 07:17] ctrlcctrlv commented on #4151
By the way, it's bizarre that there's no `glyph.xBoundsAtY` and `glyph.yBoundsAtX`, right? Why is that stuff only on the layer and contour? It's just as relevant on the glyph!

[2020-02-11 07:19] skef commented on #4151
Yeah ... that idiom just passed through my brain without reflection. The @ctrlcctrlv in my head is a weird amalgam of my contextless imagination from my earlier days here and a few videos and stills I've seen. I have a better grasp on your voice.

[2020-02-11 07:20] ctrlcctrlv commented on #4151
:joy: The @skef in my head is an orb of light that makes me a better C programmer through intense debates about side effects and stale pointers.

[2020-02-11 07:21] skef commented on #4151
@ctrlcctrlv Yes, looking at the interface I agree it's strange those are omitted at the glyph level.

It's not a bad look -- I'll take it.

[2020-02-11 07:22] ctrlcctrlv commented on #4151
Now I'm wondering what you look like. Guess I'll have to ask @davelab6 :joy:

[2020-02-11 07:28] skef commented on #4151
I try not to think about it too much.

[2020-02-11 07:57] skef commented on #2421
So I did go ahead and make a simplified version, and the problem isn't cross-hatching, it's that the contours are being traced multiple times. Confusingly one pair was traced three times and one four times. Still looking.

[2020-02-11 08:22] ctrlcctrlv commented on #2421
Perhaps it's trying to make fake-opacity that way? It would sort of work. Probably different values for &alpha; will result in different results.

[2020-02-11 08:39] jtanx commented on #2421
See also #3618 if you haven't already. I'm pretty sure turning off the outline functionality at least helps a bit.

[2020-02-11 09:27] skef opened #4153 "Address accuracy in stroked SVG (and PS?) imports"
The "1" numerals in the file referenced by #2421 don't import very well because they get "over-Simplified". That is due to the fact that the import process uses the default stroke accuracy value.

There are two issues with that value. One is that a user might want it higher not considering transformations. The second is that SVGs have internal transformations and we don't correct for them. We shou

[2020-02-11 11:17] ctrlcctrlv commented on #4151
@skef Do you have an idea for how to implement a reference-aware XBoundsAtY / YBoundsAtX at the glyph level (but which can also be constrained to a layer)? I'm all out of ideas so am coming to you. Making the bounding box work is done already.

[2020-02-11 11:52] skef commented on #4151
Given that those two functions are currently only implemented for python it's going to be a little tricky.

 `_SplineCharLayerFindBounds()` is a good model for the basic process: Go through the references, then the splines (it uses `_SplineSetFindClippedBounds()` for that). Then it adjusts for a stroked layer, and then there is some post-processing. For the non-reference stuff you can call `SSBoun

[2020-02-11 12:17] ctrlcctrlv commented on #4151
Right...I basically came to that conclusion but was worried about `SCRefToSplines`...the way it works is mystifying, especially *sigh* once again vis &agrave; vis #4078, because its behavior is completely different on "multilayer" fonts which all COLR/CPAL fonts will be.

I feel like everything we talk about comes back to the same few issues, time and time again. Not your fault, it's just that the

[2020-02-11 12:29] ctrlcctrlv commented on #4151
And like, why does `SCRefToSplines` only consider `RefChar.layers[0]`? Am I overthinking this or is this a huge problem in and of itself? But then again, when would a `RefChar` even have more than one layer? Why aren't those layers just regular `SplineChar` layers? `struct reflayer` has no associated documentation, and `RefCharCreate` only creates a single layer...and all the code seems to assume

[2020-02-11 19:02] skef commented on #4151
I think that's handling the potential special case of a reference to the other glyph's background layer. The actual "work" for non-multilayer glyphs seems to be done in `SCRemoveDependent`. But that's based only a glance.

This is probably one of those cases where one needs to stare at the code a while to figure out what is doing what.

[2020-02-11 20:51] skef commented on #4147
@jtanx If I'm remembering an earlier conversation right the primary reason we package our own python for the Windows version of FontForge, as opposed to using the Most Common Windows Python Implementation, was that using the latter would require compiling FontForge with Visual Studio. And the primary blocker of Visual Studio *was* autotools/`configure`.

Now that you've done all the CMake work, wh

[2020-02-12 08:43] jtanx commented on #4147
It'd still be a fair long way off. To get it to truly compile with MSVC, you have to fix a fair amount of code that relies on gcc/mingw behaviour (iirc there are at least a couple of headers that are provided by mingw that do not exist in the msvc toolchain).

Not only that, but you have to compile all of Fontforge's dependencies with the same toolchain (of which, there are many).

You could perha

[2020-02-12 08:50] ctrlcctrlv commented on #4147
As I've said before, we should just pack `pip` and document that we do so and how to install dependencies using our packed `pip`.

[2020-02-12 08:52] jtanx commented on #4147
Unless you pack a whole msys2 distribution too with gcc, pip won't help you when you try to install an extension with C components (like numpy, pandas etc etc)

[2020-02-12 08:53] ctrlcctrlv commented on #4147
Really? What about wheels?

[2020-02-12 08:54] jtanx commented on #4147
Wheels are compiler specific. If you read the name of the wheel it'll have msvc in it.

[2020-02-12 08:56] jtanx commented on #4147
correction - the wheels on pypi are built against msvc and won't be usable by this version of python

[2020-02-12 08:57] ctrlcctrlv commented on #4147
Oh, drat. Sorry for the noise. Thanks @jtanx

[2020-02-12 08:59] jtanx commented on #4147
There is a third option - link against the official python libs and stick your head in the sand about the CRT differences and hope it works ;)

[2020-02-12 09:02] ctrlcctrlv commented on #4147
My head is already in the sand, and I am extremely accustomed to hoping things work, so that sounds like a good idea to me :-)

[2020-02-12 10:06] #4151 closed

[2020-02-12 10:09] skef commented on #4147
Based on a little reading: If we:

1. Aren't doing and don't need any C++ stuff and
2. (Somehow) ensure that everything external to our build that we need to link against is a shared library.

Isn't it likely to work? Static libraries pose the compiler compatibility problems you note, but that should all be sorted out for a dynamic library.

[2020-02-12 10:12] jtanx commented on #4147
Dynamic linking (which we currently do) or not, in the current situation if you tried to link to Python, FontForge would be using one C runtime (msvcrt.dll) while Python (let's just say Python 3) would be using another (MSVC version something, but basically to the ucrt). That's what can cause issues.

[2020-02-12 10:15] skef commented on #4147
So stuff like https://docs.microsoft.com/en-us/cpp/c-runtime-library/potential-errors-passing-crt-objects-across-dll-boundaries?view=vs-2019

[2020-02-12 11:36] ctrlcctrlv opened #4155 "fontforge.askString() crashes if default provided (Python)"
:disappointed:

I can't believe I found another Python crash. This is another blocker on #703. I have a fix already, this is once again a tracking issue.

# Test case

[code]

# Backtrace

[code]

[2020-02-12 19:00] Bobbug commented on #4153
I'm having issues with my importer being able to find any files? I get told i'm not authorized.

[2020-02-12 19:13] skef commented on #4153
@Bobbug we would need more information to even start to help: What version of the FontForge, what OS and version of OS, and preferably a screenshot of the error dialog and Open File dialog which may have more relevant info.

[2020-02-12 22:37] mjsharpe commented on #4104
I've been out of action for a couple of weeks---sorry about my lack of a quick response. Here are my files illustrating the behavior under ff from 2019 and 2017. One more piece of data. I installed a mint linux distribution  (18.3) on a virtual machine and successfully installed fontforge on that (from 2019-04) that does not exhibit the bad behavior I found on the Mac version from 2019-08. I was u

[2020-02-12 22:55] skef commented on #4104
This would be an unusual kind of issue to be mac-specific but with the files we don't have to speculate. I'll try to give them a once-over this evening on Linux and we can go from there.

Another user on the fontforge-users list also offered (on Jan 23rd) to help out on the mac if needed.

[2020-02-13 02:44] #2421 closed

[2020-02-13 02:44] #69 closed

[2020-02-13 02:45] #2967 closed

[2020-02-13 02:58] #4155 closed

[2020-02-13 03:03] skef commented on #4147
I guess we wait and hope that the recent mingw 7.0 UCRT stuff prompts more adoption by msys2.

[2020-02-13 03:12] ctrlcctrlv commented on #4147
Since you're active @skef, and the problem I'm having seems related:

How am I supposed to handle strings in my contrib script? We're not just going to leave them all untranslated, right? I do want them in the `po` files, right?

[2020-02-13 03:15] ctrlcctrlv opened #4157 "Curvatura.py should probably be a contrib script"
It's really cool, and if we're blessing my in production fix for #703, we may as well bless @linusromer's [Curvatura.py](https://github.com/linusromer/curvatura/blob/master/curvatura-doc.pdf) too.

CC: @davelab6, @eliheuer.

[2020-02-13 03:53] skef commented on #4157
The issue for this is #4062. Closing as duplicate.

[2020-02-13 03:53] #4157 closed

[2020-02-13 03:53] skef commented on #4147
No, not the `po` files -- python internationalization is covered in https://docs.python.org/3/library/i18n.html

[2020-02-13 03:57] ctrlcctrlv commented on #4147
How far are we with that in our project, though? We already support Crowdin and build `po` files...to me it seems natural to also have our existing Gettext stuff just work with `contrib` scripts too.

[2020-02-13 04:01] skef commented on #4147
No, that doesn't really make sense. The python API allows for arbitrary extensions, most of which won't be under our influence. Having our C code do localization on the strings passed into it only addresses a tiny part of the problem. Python has its own framework and that's what should be used for internationalization and localization.

[2020-02-13 04:10] ctrlcctrlv commented on #4147
Well what I'm trying to say is, it doesn't make sense for arbitrary extensions, but it does make sense for ones we distribute.

[2020-02-13 04:18] skef commented on #4147
I understand the scope, it still doesn't make sense.

Here are a few reasons: We would have to build infrastructure to parse python to extract the source strings to be localized. Python string manipulation does not work the same way as C string manipulation, so any translator changing argument ordering would need to know which flavor of string they are changing. Strings or string fragments supplie

[2020-02-13 04:28] ctrlcctrlv commented on #4147
So, should we make `po` files just for our Python scripts then? `contrib/po`? Then use the Python `gettext` module to work with those?

[2020-02-13 04:44] skef commented on #4147
There are some decisions about exactly what "contrib" is going to be that we haven't made yet. Setting those aside the basics are here and are similar to the C process: https://docs.python.org/3/library/gettext.html#internationalizing-your-programs-and-modules (See also https://www.mattlayman.com/blog/2015/i18n/ ) One marks the strings and extracts them with a python-specific extractor.

The `po`

[2020-02-13 04:48] ctrlcctrlv commented on #4147
Thanks @skef. Given the Windows issue, it just being a directory seems like what's most likely to happen, at least initially.

[2020-02-13 04:56] skef commented on #4147
As @jtanx notes in https://github.com/fontforge/fontforge/issues/4062#issuecomment-566444943 Python for the Windows version of FontForge comes with `pip`. We can install any module that doesn't have C/C++-only dependencies and any code with such dependencies won't work on Windows anyway.

[2020-02-13 04:59] ctrlcctrlv commented on #4147
Oh, OK. Well, I'm going to PR my #703 script today (God willing there are no more big problems with the APIs). So, for my sake, I hope we can figure out the shape of `contrib` sooner rather than later. Feel free to join IRC :)

[2020-02-13 06:00] skef commented on #4104
Some initial results:

First, when I test on Arch Linux with a recent build the generated `.otf` closely resembles the 2017 file rather than the 2019 file. Only a few hints and some anchor points are different, probably due to unrelated code changes.

Second, this is the ttx console output for the two `.otf` files in the archive:

[code]
Note that the 2019 `.otf` has neither a `GSUB` or `GPOS` sec

[2020-02-13 07:53] ctrlcctrlv opened #4158 "Metrics View should just use HarfBuzz"
&ldquo;My font works in the Metrics View but then looks different in Chrome&rdquo; is such a common type of bug report. Sometimes the reverse is also complained about.

HarfBuzz is the new Uniscribe. It is the most common shaper out there. I am tired of always having to explain to people...&ldquo;no, the Metrics View is just an interpretation by one possible shaper...not one anyone actually uses,

[2020-02-13 08:07] anasram commented on #2475
In fact I'm not expert in font technologies, and this work has originally been done with the help and support of @khaledhosny, and as I remember, I think he was the one who told me that the way circles look in the font is due to a bug in Fontconfig itself.

@khaledhosny?

It's the `⚫.svg` file.

[2020-02-13 08:10] ctrlcctrlv commented on #2475
Presumably you meant FontForge.

The archive contains no such file.

[2020-02-13 08:26] ctrlcctrlv opened #4159 "GFileChooser segmentation fault when going to directory with certain filenames"
Caught while looking into https://github.com/fontforge/fontforge/issues/2475#issuecomment-583849612

This is a tracking issue, I plan to fix this today

Steps to reproduce:

1. Extract [fonts-richstyle_0.4.tar](https://richstyle.org/downloads/src/fonts-richstyle_0.4.tar) to `/tmp`
2. New font, any glyph
3. Go to directory `/tmp/fonts-richstyle_0.4/SVGs/`
4. Make sure type is SVG&hellip;
5. Crash!

[2020-02-13 08:55] anasram commented on #2475
Ops! x2

I'm sorry. I just corrected both.

The link now refers to [fonts-richstyle_0.5.tar](https://richstyle.org/downloads/src/fonts-richstyle_0.5.tar).

[2020-02-13 10:08] ctrlcctrlv commented on #4159
Update: The problem are the surrogate pairs, actually. U+D83D, U+DEC0, those are not PUA codepoints, silly me.

I don't know if it's valid to encode surrogate pairs in UTF-8. Maybe? We shouldn't crash if we find some, though. But George isn't the problem here.

[2020-02-13 11:07] skef commented on #2475
So this new version hits #3699 / #2556 when attempting to output the otf version; we should really track that problem down. However, that's not the focus of this issue.

In the (or "a") current Cairo-based FontForge this glyph looks fine in the FontView window:

![round](https://user-images.githubusercontent.com/6175836/74428257-802a0400-4e0d-11ea-886c-6ed460827ece.png)

There may be a lingering a

[2020-02-13 17:38] mjsharpe commented on #4104
To produce the otf, I used File->Generate with output as Opentype(CFF), with the following options checked:

  Postscript
Round
Hints
Flex Hints
  SFNT
Apple
Output glyph map
TeX Table
Windows-compatible 'kern'

On the older machine running the 2017 version of fontforge, the options checked were

  Postscript
Round
Hints
Flex Hints
  SFNT
PS glyph names
Opentype
Output glyph map
TeX Table
Windows-

[2020-02-13 18:20] mjsharpe commented on #4104
Checking those options lead me to changing the options on the neww machine with 2019 fontforge to match those on my old machine with 2017 fontforge. When I did so, I was able to get good otf output once again.

This is mysterious to me as my new machine is a clone of my old one from a few months ago and I have no recollection of changing the CFF options. Is it possible that installing the 2019 fon

[2020-02-13 19:29] skef commented on #4104
I'm not the right person to give a conclusive answer about the *likelihood*, but broadly speaking its definitely possible and even plausible.

I looked through the code a bit to see if anything was pushing for an "Apple" output default preference when compiling the Mac version but I didn't find anything. However, as it happens our build process has changed completely since that 2019 release and I

[2020-02-14 06:32] #4159 closed

[2020-02-14 06:37] ctrlcctrlv commented on #4157
I think this may have been too hastily closed. This issue isn't exactly a duplicate of #4062, but it could be said that #4062 is a blocker on this issue and should be figured out first, upon which time this is reopened. When deciding which scripts will be part of the default distribution, I don't think it's a problem to give each potential script its own issue.

[2020-02-14 07:27] ctrlcctrlv commented on #4157
Nevermind, I'm wrong. This is a duplicate of #3216, so it should remain closed for that reason.

[2020-02-14 09:27] sis-dk opened #4161 "Build as a static library for use in lambda"
I followed the steps in the INSTALL.MD file to build fontforge from source. But it doesn't allow me to build with shared libs switched off and python extensions enabled. I would like to run fontforge inside a python code on AWS lambda. Could someone please guide me on how to go about a setup that would allow me to run this on lambda?

[2020-02-14 09:47] skef commented on #4161
I'm assuming you're building from a recent master with CMake rather than an older version with autotools.

You probably want `-DENABLE_GUI=off`

Beyond that, it won't work to build *no* shared libraries because even if the python modules were mostly or entirely statically linked they themselves need to be shared libraries.

The folks here can't solve every problem for every distribution or environ

[2020-02-14 11:32] skef commented on #4147
The python hotkey i18n situation is a bit of a mess.

The strings passed into `registerMenuItem` can be unicode and the strings in a `GMenuItem` are also `unichar_t`. However, the hotkey infrastructure seems to assume:

1. Hotkeys will be specified by their untranslated strings (reasonable)
2. The untranslated strings will be ASCII or losslessly translatable to ASCII (less reasonable).
3. Therefor

[2020-02-14 11:32] jtanx commented on #4161
It makes no sense for a python *extension* to be statically linked to the python libs, as then your extension could be linked to a different version of python to what it runs under (plus even if it were the same, it's now carrying around its own copy of the python interpreter inside of it?)

If you instead mean you want to run a fontforge python script (i.e. via `fontforge -lang=py -script blah.py

[2020-02-14 11:37] jtanx commented on #4147
Well to put it bluntly the 'new' hotkey system was a bit of a bodge job. Not that I'm going to be touching it though.

I think the time and effort is better spent making the switch to another toolkit that provides hotkey and menus support out of the box (ie progressing the gtk work).

[2020-02-14 11:43] skef commented on #4147
@jtanx it has the benefit of being modest and the significant disadvantage that the choice of how to deal with a few corner cases precluded using hash tables, which is very frustrating.

I guess for now we can say "you can localize your menu items, or let users pick their own hotkeys, but not both. Sorry.".

[2020-02-14 12:55] pnemade opened #4164 "segfault in SFDDumpUTF7Str"
### Important
Mark with [x] to select. Leave as [ ] to unselect.

### When reporting a bug/issue:
- [ ] Screenshot
- [x] The FontForge version and the operating system you're using
fontforge-20190801-2.fc31.x86_64
Fedora 31

Found issue with this font https://fontlibrary.org/en/font/old-standard sfd files

- [x] The behavior you expect to see, and the actual behavior
I narrow down that issue to th

[2020-02-15 01:09] ctrlcctrlv commented on #4164
I'm confused. How can you be using the 20190801 release, but your issue is also due to a commit from last month?

[2020-02-15 02:51] skef commented on #4147
I really don't like this, because its counter-intuitive and hokey, but I think the best thing to do is maintain roughly the same convention as the pre-2012 "shortkey" system.

So, for example, consider this registration:
[code]
Each shortcut string will consist of `[period-separated headings|][keytext]`. Either are optional but any list of headings must end in a "|". Periods cannot be escaped.  If

[2020-02-15 02:56] jtanx commented on #4147
Let's not corner ourselves into this, especially because this is a public facing function.

This sounded reasonable, and leaves us room to remove that restriction if/when we improve hotkeys.

[2020-02-15 03:02] skef commented on #4147
@jtanx So your preference is to punt for the time being? I guess I'm OK with that.

You seem more optimistic about radical medium-term change than I am, though. It's one thing to become GTK compatible and quite another to actually switch to using it. Won't all the random stuff like the FontView Search/Replace window take a long time to sort through?

[2020-02-15 03:07] jtanx commented on #4147
I'll admit, it's fairly likely that we'll be stuck with gdraw for many more years to come, especially as resource constrained as we are.

But at the same time, I reckon if you worked steadily towards it, it's not unfeasible. With regards to:

To be honest, all the bog standard dialogs would probably be the *first* thing ported because you can do them without custom widgets/custom ui code. The hard

[2020-02-15 03:33] skef commented on #4147
I mentioned search/replace specifically because it's one of the non-standard ones -- it has two embedded charview-like subwindows and a menu.

[2020-02-15 07:15] skef opened #4165 "Implementation to open "arbitrary" URLs"
Short version: I believe that `gio` is a hard dependency. Suppose we were to replace FontForge's stuff for opening URLs with `g_app_info_launch_default_for_uri()`. Would anybody object?

Long Version:

As noted in #4147 It would be nice if python script contributors could open a web page with information about their contribution. This raises some issues.

The first issue is security. Going from on

[2020-02-15 11:29] pnemade commented on #4164
Fedora security team always checks upstream for any CVE bugfixes. As per https://github.com/fontforge/fontforge/issues/4084#issuecomment-570705717 that fix is CVE fix and Fedora package maintainers need to patch the code to have Fedora packages free from any known security issues.

Downstream bug https://bugzilla.redhat.com/show_bug.cgi?id=1790041

[2020-02-15 13:10] ctrlcctrlv commented on #4165
I wasn't tagged but I think Python authors should just import `webbrowser`. When would that ever use a different browser than FontForge's internal system? Both rely on the default browser, don't they?

[2020-02-15 13:16] ctrlcctrlv commented on #4164
Oh, well, how can we tell Fedora not to do that for our project? Because that's objectively the wrong thing to do for FontForge, as I mention in the issue.

We know that #4091 (PR to fix #4084) broke stuff, and #4100 went in immediately after to fix it. Honestly, I find it ridiculous that Fedora is cherry-picking our repository like that, especially because FontForge has so many possible ACE scena

[2020-02-15 13:16] #4164 closed

[2020-02-15 19:33] skef commented on #4165
@ctrlcctrlv Unless we replace the stuff at the start of `uiutils.c` there's only a chance we'll wind up with the default browser. And the `BROWSER` environment variable is not a standard thing.

(I personally use `chromium`, which won't be found at all with the current code.)

[2020-02-15 19:51] skef commented on #4164
With respect to security Fedora is likely going to do what Fedora is going to do.

Anyway, it's appropriate for the project to close this as a duplicate of #4099, which is fixed in #4100. @pnemade if you have the means encourage Fedora to cherry-pick the fix in #4100, as it is no more or less a security issue as the other ones they've been cherry-picking.

[2020-02-15 20:06] skef commented on #4165
Incidentally if the question was just whether we should add an `openURL` method to the `fontforge` interface I would agree that was unnecessary. The question is whether we should add a feature to `registerMenuItem` so that script developers can easily add a link to their About or Help page without having to code an actual extra function for that. I think the latter is worth doing, and if we wind u

[2020-02-15 20:21] skef commented on #4164
Come to think of it, @pnemade, given the policy you could likely force Fedora's hand by filing a CVE for #4099. That would put it on their list and make them pick up its fix.

[2020-02-16 01:05] ctrlcctrlv commented on #4165
Uhh but @skef `findbrowser` calls `xdg-open`, which, on Linux, is guaranteed to choose the same default browser other programs do.

[2020-02-16 01:32] skef commented on #4165
`xdg-open` is probably ubiquitous on Linux systems at this point but not all of our users are on Linux.

[2020-02-16 01:34] jtanx commented on #4165
I'm tending to agree with @ctrlcctrlv, `webbrowser` should be sufficient, and there shouldn't need to be any reason to expose something specific for this.

If it's different to what FF is opening then let's just fix FF and get rid of its nonstandard behaviour.

[2020-02-16 02:29] skef commented on #4165
Alright - we can recommend `webbrowser` in the documentation and cross the `uiutils.c` bridge when we come to it.

[2020-02-16 02:29] #4165 closed

[2020-02-16 11:10] jtanx commented on #4113
Just an update on this. I've finished the bulk of the conversion, so content-wise it's more or less complete. I just need to fix up some references and clean up the structure a bit.

(I've updated https://jtanx.github.io/ffdocs/ - just beware of the above, I know that the structure's a bit of a mess at the moment).

[2020-02-17 05:17] KingAlfonso opened #4166 "Frederick Brennan is a toxic individual, and should be banned!"
I represent the "Q" community who Brennan is OBSESSED with, constantly posting hate speech against us on Twitter when all we want is a better country for our children and communities.

Frederick Brennan is a well known internet troll and founder of 8chan. Since founding it he has been in perpetual warfare with its owners and has even gone to court in Philippines to delay them getting citizenship.

[2020-02-17 05:54] stonemirror commented on #4166
Let me get this straight: you created a GitHub ID specifically to demand that someone be "banned" — from what, exactly? by whom? — on behalf of the "community" of people who believe their getting secret coded messages on a web site full of Nazis from a government agent about an "elite" gang of Satanist cannibal pedophile Democrats?

And you're trying to bribe the project with the prospect of "bett

[2020-02-17 05:58] khaledhosny commented on #4077
I still consider what you are trying to do to be wrong, but I don’t care any more and I don’t see myself contributing to FontForge again. Feel free to do whatever you want with the code I contributed before (but note that Sorts Mill fork was completely GPL’ed, with updated license headers and what not, so if someone backported a patch from there that code probably needs to be rewritten).

[2020-02-17 06:09] KingAlfonso commented on #4166
This individual is now trying to troll me on twitter. He is a doxer. If I revealed my true identity he would certainly dox me on his page. He might be related to John [Brennan], who knows if he would stop at doxing. The cabal is very dangerous and still has a lot of influence.

You don't know anything about "Q". Maybe you should do some research before you try to teach me.

[2020-02-17 06:19] skef commented on #4166
I was kind of stressed and angry about this until I started thinking about labels I could add to it and now I'm just amused. It definitely counts as a `metabug` so that goes on.

I'll admit it: `someday-maybe` is pretty tempting! But not `bite-sized`; I'm not a monster.

[2020-02-17 06:26] KingAlfonso commented on #4166
Bite sized, ha ha. I agree, thats not appropriate because He's porked up too much to be considered bite sized.

Good to see Contributors are taking this important issue seriously! Dark to light!

[2020-02-17 06:28] skef commented on #4166
You have a very strange conception of seriousness.

[2020-02-17 07:28] davelab6 commented on #4077
Sorry for my failure to post the comment I drafted and lost over the
December holidays.

Khaled, thanks for your kind note. That plus the GitHub TOS finding from
skef seems relevant and convincing to me in overruling the idea I had
proposed earlier, so I think this clean up is good to proceed.

[2020-02-17 07:31] ctrlcctrlv commented on #4077
Hooray! :tada:

# 🥳

I was pretty bummed out due to recent trolling on this repo which I can't delete since I'm not in the "core" group, but these two recent comments more than make up for it!

[2020-02-17 08:26] jtanx commented on #4166
Take this issue elsewhere, we don't need this kind of drama. The contributions and discussions on FontForge by @ctrlcctrlv have remained strictly about FontForge and I have every faith it will remain that way.

[2020-02-17 08:26] #4166 closed

[2020-02-17 08:29] ctrlcctrlv commented on #4166
Thanks @jtanx, I had been quietly trying to get someone to delete this issue. Since you're in the core group, I recommend you do that. However, neither @davelab6 nor @frank-trampe replied, both are busy or it's night in their timezone. I did not reply personally as I did not want to feed the troll.

[2020-02-17 08:32] ctrlcctrlv commented on #4166
And, I am very sorry that trolls of mine have found their way to this issue tracker. Clearly @KingAlfonso is deranged and his charges against me do not need a reply.

[2020-02-17 08:41] KingAlfonso opened #4167 "Frederick Brennan - pedo supporter, doxer, possible deep cover CIA. Should be banned."
Frederick Brennan - pedo supporter, doxer, possible deep cover CIA. Should be banned.

𝒇𝒂𝒈𝒈𝒐𝒕 mod closed my thread https://github.com/fontforge/fontforge/issues/4166 https://github.com/fontforge/fontforge/issues/4166 https://github.com/fontforge/fontforge/issues/4166

ban him. WE THE PEOPLE WILL NO LONGER BE SILENCED. WE ARE: Concerned U.S. Citizens, Citizen Journalists, Citizen Investigators and

[2020-02-17 08:42] KingAlfonso opened #4168 "Frederick Brennan - pedo supporter, doxer, possible deep cover CIA. Should be banned."
Frederick Brennan - pedo supporter, doxer, possible deep cover CIA. Should be banned.

𝒇𝒂𝒈𝒈𝒐𝒕 mod closed my thread #4166 #4166 #4166

ban him. WE THE PEOPLE WILL NO LONGER BE SILENCED. WE ARE: Concerned U.S. Citizens, Citizen Journalists, Citizen Investigators and Researchers. We want to bring hidden information from dark to light.

#QAnon #WWG1WGA #QArmy #Truth #DarkToLight #PANIC #FakeNews #Just

[2020-02-17 12:33] KamilLanda opened #4169 "Arabic font: bug in Contextual Chaining Position - Blocked buttons OK/Cancel"
Detail description (pdf with prinscreens) and example font and needful files for reproduce bug are in ZIP
https://uloz.to/file/NODuEIGEB1uW/bug-in-contextual-chaining-position-zip

[2020-02-17 12:35] KamilLanda opened #4170 "Arabic font: bug in Contextual Chaining Substitute - vanish lookup definitions"
Detail description (pdf with prinscreens) and example font are in ZIP
https://uloz.to/file/MKuO9g2eHvWF/bug-ccalt-3-lines-zip

[2020-02-17 12:36] KamilLanda opened #4171 "Bug: null Lig. carets after change Glyph Color"
Detail description (pdf with prinscreens) and example arabic font are in ZIP
[bug-null-lig-carets.zip](https://github.com/fontforge/fontforge/files/4214506/bug-null-lig-carets.zip)

[2020-02-17 12:37] KamilLanda opened #4172 "Bug: vanish buttons in Glyph Set & different View sizes after re-run program"
Detail description with printscreens is in PDF
https://uloz.to/file/7UUjSPn4B6ci/bug-vanish-buttons-in-glyph-set-and-different-view-sizes-pdf

[2020-02-17 12:50] ctrlcctrlv commented on #4169
Hello, welcome to the bug tracker.

In future, please upload your ZIP file directly to GitHub. That website is in Czech (I think), or some other Eastern European language I don't really understand. Took me a minute or so to figure out how to download.

Second, thanks for the detailed description in PDF form. However, it's best to just write the description on GitHub. The PDF also contains some biz

[2020-02-17 15:22] KamilLanda commented on #4169
I'm sorry for my bad English. I'm on Github for first time and with my bad English it is very hard for me to understand the "Github system". Regrettably I didn't discover how to directly upload ZIP files to the Github, so I uploaded ones to the favorite system - and I forgot it is czech system without localization :-(. You can download it by click to the underlined "purple" text link "Stáhnout pom

[2020-02-17 16:05] anasram commented on #2475
No, it works fine now! 😊

![fontforge](https://user-images.githubusercontent.com/12219238/74669453-ceddf200-51af-11ea-96ea-a862d844d54f.png)

[2020-02-17 16:05] #2475 closed

[2020-02-18 01:04] v-python opened #4173 "FontForge generated .woff2 doesn't render properly on Mac"
* Provide a general summary of the issue in the **Title** above.
* Before you open an issue, please check if a similar issue already exists or has been closed before.

Originally this was thought to be a bug on Firefox for Mac, because the symptom showed up there, and not on Windows or Android. So the bug submitted to Mozilla, and the helpful person that
responded there, helped us realize that alt

[2020-02-18 05:56] ctrlcctrlv commented on #4173
Do you know exactly what FontForge is doing to the output that corrupts it?

[2020-02-18 06:00] ctrlcctrlv commented on #4173
Sorry, I have bad eyesight. I didn't see the Firefox issue. I, unfortunately, do not have a Mac @v-python. So I have the following questions for you:

* How do you know the problem is Mac-only?
* It only affects Firefox? Not Chrom(ium)?
* How do you know

My theory based on the bad output in the Firefox issue is that Firefox is getting the hinting wrong, and probably writing out a bad CID-keyed fo

[2020-02-18 06:03] ctrlcctrlv commented on #4113
Hey @jtanx. Sorry your comment got lost in the shuffle! I just want to say, I _**love**_ it! Very, very good work. Much better than editing AOLpress-generated files! You're even using LaTeX or something on the math page! When can we merge this? :)

[2020-02-18 06:09] pnemade commented on #3366
has there been any progress made to support running fontforge under Wayland session?

[2020-02-18 06:13] ctrlcctrlv commented on #4173
One last question: What happens if you tell FontForge not to write out either PostScript or TrueType hints? That'd be <kbd>File</kbd>&rarr;<kbd>Generate Fonts&hellip;</kbd>, in the dialog <kbd>Options</kbd>, then uncheck both hints under "PostScript&reg;" and "SFNT".

Maybe try either/or, so we can figure out which type of hint is the problem!

[2020-02-18 06:23] ctrlcctrlv commented on #4169
@KamilLanda You could export all your features via &laquo;Element&rarr;Font Info&raquo;, then right-click each and press &laquo;Save Lookup&raquo;. Then, delete all the features in the interface, and edit the file, reimporting them with &laquo;Merge Feature Info&raquo;. This is what I do. My friend @skef wrote me a [lovely little script](https://github.com/fontforge/fontforge/pull/3596#issuecommen

[2020-02-18 06:27] ctrlcctrlv commented on #3366
I don't understand the problem. Why can't you run it under XWayland?

[2020-02-18 06:42] ctrlcctrlv commented on #4173
Sorry @v-python, I'm probably driving you crazy! I am now _quadruple posting_, oh dear!

So I looked at the file and noticed it took a very long time to open. FontForge said it was &ldquo;Fixing up References&rdquo; for _minutes_. So this is _certainly not_ a hinting issue, that's the wrong rabbit hole.

When it finally opened, it looked like this:

![2020-02-18-143549_1638x1079_scrot](https://use

[2020-02-18 06:58] pnemade commented on #4164
Thanks @ctrlcctrlv and @skef

I have added comment to downstream CVE parent bug that fontforge upstream recommends not to cherry-pick upstream commits.

[2020-02-18 06:58] ctrlcctrlv commented on #4164
Thank you @pnemade. In my mind this makes cutting a release more urgent. We might need to think about putting off some priorities until the next release.

[2020-02-18 07:42] skef commented on #4164
The python extension work is going to take longer than I had hoped. (I need to do some UI work after all, ultimately for security reasons I won't go into here.) I see no obvious reason we can't cut a release with more or less what we have now. That would mean putting off the contrib discussion, but not necessarily for long if (for example) we do a maintenance release in a month or two.

I'm curren

[2020-02-18 07:47] ctrlcctrlv commented on #4164
Yes, please. We need to cut one pretty much ASAP. Like, I want to cut one by the 21st, my birthday. :cake:

The Arch packagers on Twitter told me they do the same thing as Fedora. It's probably industry standard, I wouldn't be surprised if other distro security teams operate the same way.

It's true, we could file another CVE, but that seems like a hack and also dishonest.

[2020-02-18 07:53] skef commented on #4164
It's not at all dishonest. CVEs are intended to be tracked at the patch/PR level -- the database model is intended to support cherry-picking. If we or someone else filed a CVE for something that wasn't actually a crash *that* would be dishonest. But #4100 fixes a repeatable crash that some distros have introduced into their release of FontForge and haven't patched.

If the dishonesty you're thinki

[2020-02-18 08:01] ctrlcctrlv commented on #4164
Oh, OK. I understand. If you consider crashing to be a security problem then I guess you can file a CVE. I thought it was dishonest because I don't understand how crashing affects security. But then again I don't work as a "pentester" or "computer security expert" or "defensive security consultant" or w/e.

[2020-02-18 08:04] jtanx commented on #3366
^that's your only solution for now, until we move to something like gtk.

[2020-02-18 08:06] jtanx commented on #4113
Yeah math is written in LaTeX, which is then rendered by mathjax. We could also optionally prerender them to images, but I thought the mathjax option was nicer (it does mean you have to have an internet connection though, unless we bundle the mathjax js library too).

I still need to make the structure a little bit more sane, then fixup some cross-page references. But it's close. With work commitm

[2020-02-18 08:06] skef commented on #4164
Ah, yeah. The premise of SegFault-as-security-problem is that it might be possible to cook up, say, a very particular sfd file and use the crash point to cause the program to start executing instructions supplied in the file. All crashes (especially those caused by buffer overflows, as the buffer is a natural place to introduce nefarious code) are seen as potential sites for such exploits.

[2020-02-18 12:18] pnemade commented on #3366
If I have Fedora or RHEL installed as guest OS using KVM installation then running fontforge always crashes. Can someone if running any guest Linux system confirm that they can run fontforge in VM ?

[2020-02-18 12:25] ctrlcctrlv commented on #3366
Try to run FontForge as `GDK_BACKEND=x11 fontforge`

[2020-02-18 13:30] ctrlcctrlv commented on #4173
Sorry to quintuple post, but I have yet more information.

I'm removing the "High Priority" label for a few reasons:

1. Inkscape has trouble with this font.
  ![2020-02-18-190818_2403x1644_scrot](https://user-images.githubusercontent.com/838783/74730885-ed142280-5281-11ea-8afb-65cbd43f8ed4.png)

I would like to loop @johanmattssonm into the conversation, Birdfont developer. As Birdfont is also af

[2020-02-18 17:05] KamilLanda commented on #4169
@ctrlcctrlv Thank you for your tip, your font looks interesting, my first perception was otherwise light shock "uuufff, it is some light version of the German Schwabach", but font is interesting and for me more readable then Schwabach :-). I didn't know there can be initial and final forms in Latin script too.
But if I try also kerning via "Pair positioning (kerning)", then it is strange in the Li

[2020-02-18 18:53] v-python commented on #4173
Thanks for all your investigation, it is enlightening.

OK, some information from here.  I don't speak Chinese either, but I have a user that does, and we are working on a project that uses this font. The font may be ancient, as you indicate, but there are two things about it that make us want to use it: 1. The Chinese people consider it to be a beautiful font 2. probably because of the weird enco

[2020-02-18 23:30] ctrlcctrlv commented on #4173
We'd need some debug output from CoreText (Apple's FreeType) to even begin to understand the problem, in that case. I have no way to debug this further, but someone else might.

The font is compact, and beautiful, sure, but not much more so than AR PL KaitiM GB, which is in a standard font format. Given how little software understands it, and how only one platform can't understand our rewritten in